AddPlantForm.json
[
    {
        "id": "1d78f71daf999bb3",
        "type": "tab",
        "label": "AddPlantForm",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2eb96f59a9ecbd32",
        "type": "ui_form",
        "z": "1d78f71daf999bb3",
        "name": "",
        "label": "",
        "group": "dd6b6c6fe7d853c7",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Comfortable Temperature",
                "value": "comfortT",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Comfortable Humidity",
                "value": "comfortH",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Comfortable Pressure",
                "value": "comfortP",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Description 1 ",
                "value": "description1",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Description 2",
                "value": "description2",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Description 3",
                "value": "description3",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "comfortT": "",
            "comfortH": "",
            "comfortP": "",
            "description1": "",
            "description2": "",
            "description3": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Clear",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 70,
        "y": 260,
        "wires": [
            [
                "9deb85581765f91d"
            ]
        ]
    },
    {
        "id": "df7579c4a4c51688",
        "type": "mqtt out",
        "z": "1d78f71daf999bb3",
        "name": "",
        "topic": "PIR/L1/otherPlant",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1658dccaf854d8ce",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "2df955381fc9525e",
        "type": "ui_dropdown",
        "z": "1d78f71daf999bb3",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "place": "Name",
        "group": "dd6b6c6fe7d853c7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Amarylis",
                "value": "Amarylis",
                "type": "str"
            },
            {
                "label": "Grudnik",
                "value": "grudnik",
                "type": "str"
            },
            {
                "label": "Skrzydłokwiat",
                "value": "Skrzydlokwiat",
                "type": "str"
            },
            {
                "label": "Storczyk",
                "value": "Storczyk",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 790,
        "y": 260,
        "wires": [
            [
                "80dcf96d542ad052"
            ]
        ]
    },
    {
        "id": "330a06fd87ff8c18",
        "type": "function",
        "z": "1d78f71daf999bb3",
        "name": "function 5",
        "func": "const { comfortT, comfortH, comfortP, description1, description2, description3 } = msg.payload\nmsg.payload = `${msg.name};${comfortT};${comfortH};${comfortP};${description1};${description2};${description3}` ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            [
                "df7579c4a4c51688"
            ]
        ]
    },
    {
        "id": "80dcf96d542ad052",
        "type": "change",
        "z": "1d78f71daf999bb3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9deb85581765f91d",
        "type": "change",
        "z": "1d78f71daf999bb3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "name",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 260,
        "wires": [
            [
                "7d0c5b9657411a69",
                "033398bc0f4ea780"
            ]
        ]
    },
    {
        "id": "7d0c5b9657411a69",
        "type": "switch",
        "z": "1d78f71daf999bb3",
        "name": "",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "undefined",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "330a06fd87ff8c18"
            ]
        ]
    },
    {
        "id": "033398bc0f4ea780",
        "type": "change",
        "z": "1d78f71daf999bb3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "undefined",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "2df955381fc9525e"
            ]
        ]
    },
    {
        "id": "dd6b6c6fe7d853c7",
        "type": "ui_group",
        "name": "Add a new plant",
        "tab": "f326ba4de42eefac",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1658dccaf854d8ce",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f326ba4de42eefac",
        "type": "ui_tab",
        "name": "Add a new plant",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]