AddPlantForm.json
[
    {
        "id": "50f5f9419e9c4a2f",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e20695ac04576807",
        "type": "ui_form",
        "z": "50f5f9419e9c4a2f",
        "name": "",
        "label": "",
        "group": "17bf600c37454c56",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Komportowa Temperatura",
                "value": "comfortT",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Komportowa Wilgotność",
                "value": "comfortH",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Komportowa Ciśnienie",
                "value": "comfortP",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Wymagania 1",
                "value": "description1",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Wymagania 2",
                "value": "description2",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Wymagania 3",
                "value": "description3",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "comfortT": "",
            "comfortH": "",
            "comfortP": "",
            "description1": "",
            "description2": "",
            "description3": ""
        },
        "payload": "",
        "submit": "Wyślij",
        "cancel": "Usuń",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "48b79e71879b6235"
            ]
        ]
    },
    {
        "id": "32d6ea322bd9c630",
        "type": "debug",
        "z": "50f5f9419e9c4a2f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "98f4dd71a3e47337",
        "type": "mqtt out",
        "z": "50f5f9419e9c4a2f",
        "name": "",
        "topic": "PIR/L1/otherPlant",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1658dccaf854d8ce",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "c4479b9c94f009bb",
        "type": "ui_dropdown",
        "z": "50f5f9419e9c4a2f",
        "name": "",
        "label": "Nazwa",
        "tooltip": "",
        "place": "Nazwa",
        "group": "17bf600c37454c56",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Amarylis",
                "value": "Amarylis",
                "type": "str"
            },
            {
                "label": "Grudnik",
                "value": "grudnik",
                "type": "str"
            },
            {
                "label": "Skrzydłokwiat",
                "value": "Skrzydlokwiat",
                "type": "str"
            },
            {
                "label": "Storczyk",
                "value": "Storczyk",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "5a46e59ec717231c"
            ]
        ]
    },
    {
        "id": "eff1171ebfa0f5fe",
        "type": "function",
        "z": "50f5f9419e9c4a2f",
        "name": "function 5",
        "func": "const { comfortT, comfortH, comfortP, description1, description2, description3 } = msg.payload\nmsg.payload = `${msg.name};${comfortT};${comfortH};${comfortP};${description1};${description2};${description3}` ;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 140,
        "wires": [
            [
                "32d6ea322bd9c630",
                "98f4dd71a3e47337"
            ]
        ]
    },
    {
        "id": "5a46e59ec717231c",
        "type": "change",
        "z": "50f5f9419e9c4a2f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "48b79e71879b6235",
        "type": "change",
        "z": "50f5f9419e9c4a2f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "msg",
                "to": "name",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 260,
        "wires": [
            [
                "f21e19f731ae519d",
                "01fda7a41513a679"
            ]
        ]
    },
    {
        "id": "f21e19f731ae519d",
        "type": "switch",
        "z": "50f5f9419e9c4a2f",
        "name": "",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "undefined",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "eff1171ebfa0f5fe"
            ]
        ]
    },
    {
        "id": "01fda7a41513a679",
        "type": "change",
        "z": "50f5f9419e9c4a2f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "undefined",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 420,
        "wires": [
            [
                "c4479b9c94f009bb"
            ]
        ]
    },
    {
        "id": "17bf600c37454c56",
        "type": "ui_group",
        "name": "Dodaj nową roślinę",
        "tab": "cfa5f27186c8c45f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1658dccaf854d8ce",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cfa5f27186c8c45f",
        "type": "ui_tab",
        "name": "Dodaj nową roślinę",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]