Database.json
[
    {
        "id": "bcc897168fd1a696",
        "type": "mysql",
        "z": "17a32eb80983d8c1",
        "mydb": "a94c2155e352c42e",
        "name": "",
        "x": 570,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f9e8df806ba2e746",
        "type": "json",
        "z": "17a32eb80983d8c1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "45778a7e5d114076"
            ]
        ]
    },
    {
        "id": "45778a7e5d114076",
        "type": "function",
        "z": "17a32eb80983d8c1",
        "name": "Parsowanie JSON",
        "func": "var data = JSON.parse(msg.payload);\nvar name = data.name;\nvar timeWatering = data.timeWatering;\nvar moilSoilture = data.moilSoilture;\nvar temperature = data.temperature;\nvar humidity = data.humidity;\nvar pressure = data.pressure;\n\n\nvar extractedData = {\n    \"Name\": name,\n    \"Time Watering\": timeWatering,\n    \"Soil Moisture\": moilSoilture,\n    \"Temperature\": temperature,\n    \"Humidity\": humidity,\n    \"Pressure\": pressure\n};\n\nnode.warn(JSON.stringify(extractedData));\n\ncontext.set('name', undefined);\ncontext.set('timeWatering', undefined);\ncontext.set('temperature', undefined);\ncontext.set('pressure', undefined);\ncontext.set('humidity', undefined);\ncontext.set('moilSoilture', undefined);\n\nvar date = getCurrentDateTime();\nvar query = 'INSERT INTO plant_data(moilSoilture, temperature, humidity, pressure, date, timeWatering, name) VALUES (?,?,?,?,?,?,?)';\nvar params = [moilSoilture, temperature, humidity, pressure, date, timeWatering, name];\n\nmsg.topic = query;\nmsg.payload = params;\n\nreturn msg;\n\nfunction getCurrentDateTime() {\n    var now = new Date();\n    var year = now.getFullYear();\n    var month = padNumber(now.getMonth() + 1);\n    var day = padNumber(now.getDate());\n    var hours = padNumber(now.getHours());\n    var minutes = padNumber(now.getMinutes());\n    var seconds = padNumber(now.getSeconds());\n\n    return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;\n}\n\nfunction padNumber(num) {\n    return (num < 10 ? '0' : '') + num;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "bcc897168fd1a696"
            ]
        ]
    },
    {
        "id": "a94c2155e352c42e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "csp",
        "tz": "",
        "charset": "UTF8"
    }
]