Database.json
[
    {
        "id": "9e05157fc7392e03",
        "type": "tab",
        "label": "Database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "053580ba9787d546",
        "type": "mysql",
        "z": "9e05157fc7392e03",
        "mydb": "11f58f0bffa47384",
        "name": "",
        "x": 600,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3f91a15b4eb26282",
        "type": "mqtt in",
        "z": "9e05157fc7392e03",
        "name": "",
        "topic": "PIR/L1/Z3/jsonData",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1658dccaf854d8ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "789dd77ca650d118"
            ]
        ]
    },
    {
        "id": "789dd77ca650d118",
        "type": "function",
        "z": "9e05157fc7392e03",
        "name": "function 10",
        "func": "var receivedData = msg.payload;\ntry {\n    var jsonData = JSON.parse(receivedData);\n\n    // Przypisanie wartości do kontekstu\n    context.set('name', jsonData.name);\n    context.set('timeWatering', jsonData.timeWatering);\n    context.set('temperature', jsonData.temperature);\n    context.set('pressure', jsonData.pressure);\n    context.set('humidity', jsonData.humidity);\n    context.set('soilMoisture', jsonData.moilSoilture);\n\n    // Sprawdź, czy wszystkie dane są dostępne\n    var name = context.get('name');\n    var timeWatering = context.get('timeWatering');\n    var temperature = context.get('temperature');\n    var pressure = context.get('pressure');\n    var humidity = context.get('humidity');\n    var soilMoisture = context.get('soilMoisture');\n\n    if (temperature !== undefined && pressure !== undefined && humidity !== undefined && soilMoisture !== undefined && name !== undefined &&   timeWatering !== undefined) {\n        // Wykonaj operację zapisu do bazy danych za pomocą węzła bazy danych w Node-RED\n        var date = getCurrentDateTime();\n        var query = 'INSERT INTO plant_data(moilSoilture, temperature, humidity, pressure,date,name,timeWatering) VALUES (?,?,?,?,?,?,?)';\n        var params = [soilMoisture, temperature, humidity, pressure, date, name, timeWatering ];\n\n        msg.topic = query;\n        msg.payload = params;\n\n        // Wyzeruj dane w kontekście węzła\n        context.set('name', undefined);\n        context.set('timeWatering', undefined);\n        context.set('temperature', undefined);\n        context.set('pressure', undefined);\n        context.set('humidity', undefined);\n        context.set('soilMoisture', undefined);\n\n        return msg;\n    }\n} catch (error) {\n    node.error(\"Błąd w parsowaniu JSONa: \" + error.message);\n}\n\n\nfunction getCurrentDateTime() {\n    var now = new Date();\n    var year = now.getFullYear();\n    var month = padNumber(now.getMonth() + 1);\n    var day = padNumber(now.getDate());\n    var hours = padNumber(now.getHours());\n    var minutes = padNumber(now.getMinutes());\n    var seconds = padNumber(now.getSeconds());\n\n    return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;\n}\n\nfunction padNumber(num) {\n    return (num < 10 ? '0' : '') + num;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "053580ba9787d546"
            ]
        ]
    },
    {
        "id": "11f58f0bffa47384",
        "type": "MySQLdatabase",
        "name": "SQL database",
        "host": "sql11.freesqldatabase.com",
        "port": "3306",
        "db": "sql11667495",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1658dccaf854d8ce",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]