Home.json
[
    {
        "id": "22235a8ea0fe663a",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc478c03599620e0",
        "type": "inject",
        "z": "22235a8ea0fe663a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "950c07e6960fa3bc",
                "e82339445b62eb20"
            ]
        ]
    },
    {
        "id": "ea7327e189a2bb43",
        "type": "ui_gauge",
        "z": "22235a8ea0fe663a",
        "name": "",
        "group": "9b928f322d6d05ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "ad0cd69e87970f9a",
        "type": "mqtt in",
        "z": "22235a8ea0fe663a",
        "name": "",
        "topic": "PIR/L1/Z3/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1658dccaf854d8ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 240,
        "wires": [
            [
                "ea7327e189a2bb43",
                "ccdf56216e9bf14c",
                "f69e1f2a9608bf01"
            ]
        ]
    },
    {
        "id": "eb2c75eff8605762",
        "type": "ui_gauge",
        "z": "22235a8ea0fe663a",
        "name": "",
        "group": "9b928f322d6d05ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "moilSoilture",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "2400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 380,
        "wires": []
    },
    {
        "id": "51af0b1ed1f7bb37",
        "type": "mqtt in",
        "z": "22235a8ea0fe663a",
        "name": "",
        "topic": "PIR/L1/Z3/moilSoilture",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1658dccaf854d8ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "eb2c75eff8605762"
            ]
        ]
    },
    {
        "id": "950c07e6960fa3bc",
        "type": "ui_clock",
        "z": "22235a8ea0fe663a",
        "name": "",
        "group": "035472dde84c035b",
        "order": 2,
        "width": "4",
        "height": "4",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "e82339445b62eb20",
        "type": "ui_digital_clock",
        "z": "22235a8ea0fe663a",
        "name": "",
        "group": "035472dde84c035b",
        "order": 1,
        "width": "2",
        "height": "2",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "ccdf56216e9bf14c",
        "type": "ui_chart",
        "z": "22235a8ea0fe663a",
        "name": "",
        "group": "07c8a9bd3639f1a3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1cb75e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 410,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8e282bb2ccb4736e",
        "type": "ui_slider",
        "z": "22235a8ea0fe663a",
        "name": "",
        "label": "temperature",
        "tooltip": "",
        "group": "91556d7cd08d1ff1",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 570,
        "y": 480,
        "wires": [
            [
                "e969af5274d5f9bd"
            ]
        ]
    },
    {
        "id": "dc19050eace190ef",
        "type": "ui_slider",
        "z": "22235a8ea0fe663a",
        "name": "",
        "label": "pressure",
        "tooltip": "",
        "group": "91556d7cd08d1ff1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1200",
        "step": 1,
        "className": "",
        "x": 620,
        "y": 560,
        "wires": [
            [
                "8c4e36bb8e9761c5"
            ]
        ]
    },
    {
        "id": "4a99152d99cf9d06",
        "type": "ui_slider",
        "z": "22235a8ea0fe663a",
        "name": "",
        "label": "humidity",
        "tooltip": "",
        "group": "91556d7cd08d1ff1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 620,
        "y": 620,
        "wires": [
            [
                "e9d5bea39c300f9f"
            ]
        ]
    },
    {
        "id": "20c9c8d279b75d07",
        "type": "switch",
        "z": "22235a8ea0fe663a",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperatureData2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pressureData2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidityData2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 560,
        "wires": [
            [
                "8e282bb2ccb4736e"
            ],
            [
                "dc19050eace190ef"
            ],
            [
                "4a99152d99cf9d06"
            ]
        ]
    },
    {
        "id": "0806840150d14da2",
        "type": "function",
        "z": "22235a8ea0fe663a",
        "name": "function 5",
        "func": "if (msg.topic === \"PIR/L1/condition/temperature\") {\n    msg.topic = \"temperatureData2\";\n} else if (msg.topic === \"PIR/L1/condition/pressure\") {\n    msg.topic = \"pressureData2\";\n} else if (msg.topic === \"PIR/L1/condition/humidity\") {\n    msg.topic = \"humidityData2\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 560,
        "wires": [
            [
                "20c9c8d279b75d07"
            ]
        ]
    },
    {
        "id": "8363b22c90535476",
        "type": "mqtt in",
        "z": "22235a8ea0fe663a",
        "name": "condition",
        "topic": "PIR/L1/condition/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1658dccaf854d8ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 560,
        "wires": [
            [
                "0806840150d14da2"
            ]
        ]
    },
    {
        "id": "e969af5274d5f9bd",
        "type": "mqtt out",
        "z": "22235a8ea0fe663a",
        "name": "",
        "topic": "PIR/L1/condition/temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1658dccaf854d8ce",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "8c4e36bb8e9761c5",
        "type": "mqtt out",
        "z": "22235a8ea0fe663a",
        "name": "",
        "topic": "PIR/L1/condition/pressure",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1658dccaf854d8ce",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "e9d5bea39c300f9f",
        "type": "mqtt out",
        "z": "22235a8ea0fe663a",
        "name": "",
        "topic": "PIR/L1/condition/humidity",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1658dccaf854d8ce",
        "x": 930,
        "y": 640,
        "wires": []
    },
    {
        "id": "f69e1f2a9608bf01",
        "type": "ui_chart",
        "z": "22235a8ea0fe663a",
        "name": "",
        "group": "035472dde84c035b",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1cb75e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "22873424364b511f",
        "type": "mqtt in",
        "z": "22235a8ea0fe663a",
        "name": "PIR/L1/Z3/jsonData",
        "topic": "PIR/L1/Z3/jsonData",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1658dccaf854d8ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 780,
        "wires": [
            [
                "eb98f20bcd7336c6",
                "076687c17698f277"
            ]
        ]
    },
    {
        "id": "eb98f20bcd7336c6",
        "type": "ui_text",
        "z": "22235a8ea0fe663a",
        "group": "4b26f1a75964e117",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Name:",
        "format": "{{msg.payload.name}}",
        "layout": "row-left",
        "className": "",
        "x": 350,
        "y": 940,
        "wires": []
    },
    {
        "id": "076687c17698f277",
        "type": "ui_text",
        "z": "22235a8ea0fe663a",
        "group": "4b26f1a75964e117",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last time Watering:",
        "format": "{{msg.payload.timeWatering}}",
        "layout": "row-center",
        "className": "",
        "x": 530,
        "y": 840,
        "wires": []
    },
    {
        "id": "9b928f322d6d05ec",
        "type": "ui_group",
        "name": "HomeGauge",
        "tab": "bab38d0e8d437520",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1658dccaf854d8ce",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "035472dde84c035b",
        "type": "ui_group",
        "name": "Clock",
        "tab": "bab38d0e8d437520",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "07c8a9bd3639f1a3",
        "type": "ui_group",
        "name": "temperatura otoczenia rośliny",
        "tab": "f89261543a7a9786",
        "order": 1,
        "disp": false,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "91556d7cd08d1ff1",
        "type": "ui_group",
        "name": "condition",
        "tab": "bab38d0e8d437520",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b26f1a75964e117",
        "type": "ui_group",
        "name": "plant",
        "tab": "bab38d0e8d437520",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bab38d0e8d437520",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "f89261543a7a9786",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "assessment",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]