pdf_raport.json
[
    {
        "id": "fa8f0bbc554d4dba",
        "type": "tab",
        "label": "pdf_raport",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2c51ff942839bcca",
        "type": "ui_form",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "label": "",
        "group": "1c470b80cfdc6307",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Raport od:",
                "value": "date_from",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Raport do:",
                "value": "date_to",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Nazwa rośliny",
                "value": "plant",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "date_from": "",
            "date_to": "",
            "plant": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "e3804d8801221d39",
                "f8c0d5f3f8e0f956",
                "75a9f21c6bb0aa3e"
            ]
        ]
    },
    {
        "id": "7de2401262133ceb",
        "type": "mysql",
        "z": "fa8f0bbc554d4dba",
        "mydb": "a94c2155e352c42e",
        "name": "MySQL Database",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "c050efe97f60f1c8",
                "416c5f3352556cfb",
                "ba995f26a63afa97",
                "13bef5b7fdfd0e85",
                "420be431b2ff3af1",
                "137c36cf0f9e1870",
                "b2e40a1b4686a1c3",
                "0b4e22fd6f1fca40",
                "d09f6c6970f5ecd7",
                "44b982fd4671d070",
                "67b5b0e2ef8c67fe",
                "95e2d37ec6ebbdf7",
                "fabe5aab74f6a098"
            ]
        ]
    },
    {
        "id": "e3804d8801221d39",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "sqlQuery - date_from & date_to",
        "func": "// Pobierz daty z payload\nconst date_from = msg.payload.date_from;\nconst date_to = msg.payload.date_to;\nconst plant  = msg.payload.plant;\n// Utwórz obiekty daty\nconst dateFromObject = new Date(date_from);\nconst dateToObject = new Date(date_to);\n\n// Uzyskaj poszczególne komponenty daty\nconst yearFrom = dateFromObject.getFullYear();\nconst monthFrom = dateFromObject.getMonth() + 1; // Dodajemy 1, ponieważ miesiące są liczone od 0 do 11\nconst dayFrom = dateFromObject.getDate();\n\nconst yearTo = dateToObject.getFullYear();\nconst monthTo = dateToObject.getMonth() + 1;\nconst dayTo = dateToObject.getDate();\n\n// Sformatuj daty w oczekiwanym formacie\nconst formattedDateFrom = `${yearFrom}.${monthFrom < 10 ? '0' : ''}${monthFrom}.${dayFrom < 10 ? '0' : ''}${dayFrom}`;\nconst formattedDateTo = `${yearTo}.${monthTo < 10 ? '0' : ''}${monthTo}.${dayTo < 10 ? '0' : ''}${dayTo}`;\n\n// Utwórz zapytanie SQL z uwzględnieniem zakresu dat\nconst sqlQuery = `SELECT name,timeWatering,temperature, pressure, humidity, moilSoilture, date FROM plant_data WHERE name='${plant}' AND STR_TO_DATE(date, '%Y-%m-%d') >= STR_TO_DATE('${formattedDateFrom}', '%Y.%m.%d') AND STR_TO_DATE(date, '%Y-%m-%d') <= STR_TO_DATE('${formattedDateTo}', '%Y.%m.%d')`;\n\n// Przypisz zapytanie do payload, aby mogło być przekazane do kolejnych węzłów\nmsg.topic = sqlQuery;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 200,
        "wires": [
            [
                "7de2401262133ceb"
            ]
        ]
    },
    {
        "id": "f8c0d5f3f8e0f956",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "function 59",
        "func": "// Pobierz daty z payload\nconst date_from = msg.payload.date_from;\nconst date_to = msg.payload.date_to;\n\n// Utwórz obiekty daty\nconst dateFromObject = new Date(date_from);\nconst dateToObject = new Date(date_to);\n\n// Uzyskaj poszczególne komponenty daty\nconst yearFrom = dateFromObject.getFullYear();\nconst monthFrom = dateFromObject.getMonth() + 1; // Dodajemy 1, ponieważ miesiące są liczone od 0 do 11\nconst dayFrom = dateFromObject.getDate();\n\nconst yearTo = dateToObject.getFullYear();\nconst monthTo = dateToObject.getMonth() + 1;\nconst dayTo = dateToObject.getDate();\n\n// Sformatuj daty w oczekiwanym formacie\nconst formattedDateFrom = `${yearFrom}_${monthFrom < 10 ? '0' : ''}${monthFrom}_${dayFrom < 10 ? '0' : ''}${dayFrom}`;\nconst formattedDateTo = `${yearTo}_${monthTo < 10 ? '0' : ''}${monthTo}_${dayTo < 10 ? '0' : ''}${dayTo}`;\n\n// msg.payload.date_from = formattedDateFrom;\n// msg.payload.date_to = formattedDateTo;\nmsg.payload = \"<h1>Raport dla roślinki od \" + formattedDateFrom + \" do\" + formattedDateTo+\"</h1>\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 420,
        "wires": [
            [
                "bc357cff67b6017f"
            ]
        ]
    },
    {
        "id": "c050efe97f60f1c8",
        "type": "ui_table",
        "z": "fa8f0bbc554d4dba",
        "group": "4f0d5373c4963023",
        "name": "",
        "order": 1,
        "width": 18,
        "height": 12,
        "columns": [
            {
                "field": "name",
                "title": "Name",
                "width": "90",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timeWatering",
                "title": "lastWatering",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "temperature",
                "title": "Temperature",
                "width": "140",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "pressure",
                "title": "Pressure",
                "width": "110",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "humidity",
                "title": "Humidity",
                "width": "110",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "moilSoilture",
                "title": "SoilMoilture",
                "width": "140",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "date",
                "title": "Date",
                "width": "180",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "e3696614ae69b35c",
        "type": "change",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "table2",
                "tot": "str",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "bc357cff67b6017f"
            ]
        ]
    },
    {
        "id": "bc357cff67b6017f",
        "type": "join",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 390,
        "y": 520,
        "wires": [
            [
                "92e9a4af4832ad1f"
            ]
        ]
    },
    {
        "id": "ecb8ea0e27e67247",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "Get temperture ",
        "func": "let r = msg.payload;\nlet serie = [\"temperature\"];\nlet data =[r.map(v => ({\n    \"x\": v.date,\n    \"y\": parseFloat(v.temperature)\n}))];\n\n\nmsg.payload = [{ \"series\": serie, \"data\": data }];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 200,
        "wires": [
            [
                "e0ad9b46904d2bbe"
            ]
        ]
    },
    {
        "id": "e0ad9b46904d2bbe",
        "type": "ui_chart",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "group": "4f0d5373c4963023",
        "order": 14,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "416c5f3352556cfb",
        "type": "change",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 200,
        "wires": [
            [
                "ecb8ea0e27e67247"
            ]
        ]
    },
    {
        "id": "2be65cba4917fee4",
        "type": "file",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "filename": "C:\\Users\\Kamil\\Downloads\\raporttest.pdf",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1280,
        "y": 820,
        "wires": [
            [
                "58e488ed04939dc3"
            ]
        ]
    },
    {
        "id": "ebf4fb50a5d9721a",
        "type": "tableify",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "before": "Statystyki dla pomiarów",
        "after": "Następnie przedstawione zostaną wykresy",
        "tableStyle": "",
        "theadStyle": "",
        "tbodyStyle": "",
        "trStyle": "",
        "tdStyle": "",
        "x": 320,
        "y": 380,
        "wires": [
            [
                "e3696614ae69b35c"
            ]
        ]
    },
    {
        "id": "6853d59cb027aa81",
        "type": "chart-image",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "width": "500",
        "height": "500",
        "x": 450,
        "y": 660,
        "wires": [
            [
                "38182f01bbd4cc60"
            ]
        ]
    },
    {
        "id": "566defbe77a31b89",
        "type": "html-to-pdf",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "format": "A4",
        "zoom": 100,
        "orientation": "Portrait",
        "width": "",
        "height": "",
        "widthUnit": "cm",
        "heightUnit": "cm",
        "marginTop": 1,
        "marginLeft": 1,
        "marginBottom": 1,
        "marginRight": 1,
        "marginTopUnits": "cm",
        "marginLeftUnits": "cm",
        "marginBottomUnits": "cm",
        "marginRightUnits": "cm",
        "omitBackground": false,
        "printGraphics": true,
        "x": 1350,
        "y": 740,
        "wires": [
            [
                "2be65cba4917fee4"
            ]
        ]
    },
    {
        "id": "03c01f63e6ef3e73",
        "type": "ui_template",
        "z": "fa8f0bbc554d4dba",
        "group": "1c470b80cfdc6307",
        "name": "Display Image",
        "order": 2,
        "width": 17,
        "height": 9,
        "format": "<img width=\"500\" height=\"500\" alt=\"image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>\n\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 960,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "9c2face1e18b8228",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "Create HTML",
        "func": "let tabela = msg.payload['table2'];\nlet tabela2 = msg.payload['table'];\nlet wykresy =\n        \"<h1>Wykresy:</h1>\" +\n        ' <img width=\"500\" height=\"500\" alt=\"image\" src=\"data:image/jpg;base64,' +\n        msg.payload['temperatureChart'] +\n        ' \" />' +\n        '<div style=\"page-break-before:always\">&nbsp;</div>' +\n        ' <img width=\"500\" height=\"500\" alt=\"image\" src=\"data:image/jpg;base64,' +\n        msg.payload['pressureChart'] +\n        ' \" />' +\n        '<div style=\"page-break-before:always\">&nbsp;</div>' +\n        ' <img width=\"500\" height=\"500\" alt=\"image\" src=\"data:image/jpg;base64,' +\n        msg.payload['soilChart'] +\n        ' \" />' +\n        '<div style=\"page-break-before:always\">&nbsp;</div>' +\n        ' <img width=\"500\" height=\"500\" alt=\"image\" src=\"data:image/jpg;base64,' +\n        msg.payload['humidityChart'] +\n        ' \" />' +\n        '<div style=\"page-break-before:always\">&nbsp;</div>' +\n        \"<h1>Bargraph'y:</h1>\" +\n        ' <img width=\"500\" height=\"500\" alt=\"image\" src=\"data:image/jpg;base64,' +\n        msg.payload['humidityHistogram'] +\n        ' \" />' +\n         '<div style=\"page-break-before:always\">&nbsp;</div>' +\n         ' <img width=\"500\" height=\"500\" alt=\"image\" src=\"data:image/jpg;base64,' +\n         msg.payload['temperatureHistogram'] +\n          ' \" />' +\n         '<div style=\"page-break-before:always\">&nbsp;</div>' +\n         ' <img width=\"500\" height=\"500\" alt=\"image\" src=\"data:image/jpg;base64,' +\n         msg.payload['soilHistogram'] +\n         ' \" />' +\n         '<div style=\"page-break-before:always\">&nbsp;</div>' +\n ' <img width=\"500\" height=\"500\" alt=\"image\" src=\"data:image/jpg;base64,' +\n        msg.payload['pressureHistogram']\n         +\n        ' \" />';\nmsg.payload = tabela + wykresy + \"<br>\" + tabela2;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 740,
        "wires": [
            [
                "566defbe77a31b89"
            ]
        ]
    },
    {
        "id": "ba995f26a63afa97",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "Temperature Chart",
        "func": "function getGetOrdinal(n) {\n    var s=[\"th\",\"st\",\"nd\",\"rd\"],\n    v=n%100;\n    return n+(s[(v-20)%10]||s[v]||s[0]);\n }\nlet r = msg.payload;\n\nlet temp = [r.map(v => parseFloat(v.temperature))];\nlet timeV = [r.map(v =>v.date)];\n    \n\n\n\nvar dL = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\nvar dS = [\"Sun\", \"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\"];\nvar mL = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];\nvar mS = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];\n\nlet now = new Date();\n\n// Create the chart object\nlet m = {\n    type: 'line',\n    options: {\n        title: {\n            display: true,\n            text: 'Wykres temperatury w czasie'\n        },\n        legend: {\n            display: true,\n        },\n        chartArea: {\n            backgroundColor: 'rgba(255, 255, 255, 0.9)',\n            borderColor: 'rgba(0, 0, 0, 0.1)',\n            borderWidth: 1,\n        },\n        scales: {\n            xAxes: [{\n                scaleLabel: {\n                    display: true,\n                    labelString: 'Czas'\n                },\n                ticks: {\n                    autoSkip: true,\n                    maxTicksLimit: 10\n                }\n            }],\n            yAxes: [{\n                scaleLabel: {\n                    display: true,\n                    labelString: 'Temperatura'\n                }\n            }]\n        },\n        plugins: {\n            datalabels: {\n                display: false,\n                backgroundColor: 'whitesmoke',\n                borderRadius: 1,\n                padding: 1,\n                align: 'right',\n                anchor: function (context) {\n                    if (context.dataIndex == context.dataset.data.length - 1) {\n                        return 'center';\n                    } else {\n                        return 'end';\n                    }\n                },\n                offset: 8,\n                formatter: function (value) {\n                    return value > 0 ? value.toLocaleString() : '';\n                }\n            }\n        }\n    },\n    data: {\n        labels: [],\n        datasets: [\n            {\n                label: \"Sample data\",\n                borderColor: 'rgba(57,97,184,0.8)',\n                borderWidth: 2,\n                fill: false,\n                data: [],\n                pointRadius: 2,\n            }\n        ]\n    }\n};\n\n\nfor (let i = 0; i < temp[0].length; i = i + (temp[0].length/100)) {\n    \n    let idx = parseInt(i)\n    console.log(idx);\n    m.data.datasets[0].data.push(temp[0][idx]);\n    // Zamień spację na literę \"T\" i dodaj sufiks \"Z\"\n    let str_date = timeV[0][idx].replace(\" \", \"T\") + \"+01:00\";\n\n    // Utwórz obiekt Date na podstawie przekształconego stringa\n    let dateV = new Date(str_date);\n    m.data.labels.push(dateV.toLocaleString()) }\n\nmsg.payload = m;\nmsg.topic = 'temperatureChart'\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 560,
        "wires": [
            [
                "6853d59cb027aa81"
            ]
        ]
    },
    {
        "id": "13bef5b7fdfd0e85",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "temperatueBargraph",
        "func": "\nlet r = msg.payload;\n\nlet wilgotnoscPowietrza = r.map(v => parseFloat(v.humidity));\n//let wilgotnoscPowietrza = [50, 60, 70, 75, 80, 85, 90, 92, 95, 98, 100];\n\n// Funkcja do grupowania danych w zakresy\nfunction groupData(data, rangeSize) {\n    let groupedData = {};\n    data.forEach(value => {\n        let rangeKey = Math.floor(value / rangeSize) * rangeSize;\n        if (!groupedData[rangeKey]) {\n            groupedData[rangeKey] = 0;\n        }\n        groupedData[rangeKey]++;\n    });\n    return groupedData;\n}\nlet size = Math.floor((Math.max(...wilgotnoscPowietrza) - Math.min(...wilgotnoscPowietrza)) / 5);\n\n\n// Grupowanie danych w zakresy o szerokości 10\nlet groupedData = groupData(wilgotnoscPowietrza, size);\n\n// Konwersja danych do formatu zrozumiałego dla Chart.js\n\nlet labels = Object.keys(groupedData).map(\n    (rangeKey) => `${parseInt(rangeKey)}-${(parseInt(rangeKey) + parseInt(size))}`\n);\n\nlet data = Object.values(groupedData);\n\n// Inicjalizacja obiektu wykresu kolumnowego\nlet histogramChart = {\n    type: 'bar',\n    data: {\n        labels: labels,\n        datasets: [{\n            label: 'Wilgotność powietrza',\n            data: data,\n            backgroundColor: 'rgba(57,97,184,0.8)',\n        }]\n    },\n    options: {\n        title: {\n            display: true,\n            text: 'Histogram Wilgotności Powietrza'\n        },\n        scales: {\n            xAxes: [{\n                scaleLabel: {\n                    display: true,\n                    labelString: 'Zakresy wilgotności'\n                }\n            }],\n            yAxes: [{\n                scaleLabel: {\n                    display: true,\n                    labelString: 'Liczba wystąpień'\n                },\n                ticks: {\n                    beginAtZero: true,\n                    stepSize: 1 // Ustawienie kroku osi Y na 1\n                }\n            }]\n        }\n    }\n};\nmsg.payload = histogramChart\nmsg.topic = 'humidityHistogram'\nreturn msg\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 360,
        "wires": [
            [
                "ff33280e9d3c400f"
            ]
        ]
    },
    {
        "id": "ff33280e9d3c400f",
        "type": "chart-image",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "width": 500,
        "height": "500",
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "f49b83c54c88c4a9"
            ]
        ]
    },
    {
        "id": "ddee48fe7e511679",
        "type": "ui_template",
        "z": "fa8f0bbc554d4dba",
        "group": "1c470b80cfdc6307",
        "name": "Display Image22",
        "order": 3,
        "width": 17,
        "height": 9,
        "format": "<img width=\"500\" height=\"500\" alt=\"image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>\n\n",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1170,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "92e9a4af4832ad1f",
        "type": "join",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "10",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1010,
        "y": 740,
        "wires": [
            [
                "9c2face1e18b8228"
            ]
        ]
    },
    {
        "id": "420be431b2ff3af1",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "Table with statistics",
        "func": "// Pobierz wyniki zapytania SQL\nconst results = msg.payload;\n\n// Inicjalizuj zmienne do przechowywania maksymalnych, minimalnych i średnich wartości\nlet maxTemperature = Number.MIN_SAFE_INTEGER;\nlet minTemperature = Number.MAX_SAFE_INTEGER;\nlet sumTemperature = 0.0;\n\nlet maxHumidity = Number.MIN_SAFE_INTEGER;\nlet minHumidity = Number.MAX_SAFE_INTEGER;\nlet sumHumidity = 0.0;\n\n\nlet maxS = Number.MIN_SAFE_INTEGER;\nlet minS = Number.MAX_SAFE_INTEGER;\nlet sumS = 0;\n\nlet maxP = Number.MIN_SAFE_INTEGER;\nlet minP = Number.MAX_SAFE_INTEGER;\nlet sumP = 0.0;\nlet licznik = 0.0;\n// Przetwarzaj wyniki, znajdując maksymalne, minimalne i obliczając sumy\nresults.forEach(result => {\n    maxTemperature = Math.max(maxTemperature, result.temperature);\n    minTemperature = Math.min(minTemperature, result.temperature);\n    sumTemperature += parseFloat(result.temperature);\n    licznik +=1.0\n    maxHumidity = Math.max(maxHumidity, result.humidity);\n    minHumidity = Math.min(minHumidity, result.humidity);\n    sumHumidity += parseFloat(result.humidity);\n\n    maxS = Math.max(maxS, result.moilSoilture);\n    minS = Math.min(minS, result.moilSoilture);\n    sumS += parseInt(result.moilSoilture);\n\n    maxP = Math.max(maxP, result.pressure);\n    minP = Math.min(minP, result.pressure);\n    sumP += parseFloat(result.pressure);\n});\n\n// Oblicz średnie wartości\nlet avgTemperature = sumTemperature / licznik;\nlet avgHumidity = sumHumidity / licznik;\nlet avgS = sumS / licznik;\nlet avgP = sumP / licznik;\n\n// Utwórz nowe właściwości msg z nazwami kolumn i wartościami\nmsg.payload = \n    [{ type: \"max\", temp: maxTemperature, humidity: maxHumidity,pressure: maxP , soilMoisture: maxS  },\n    { type: \"min\", temp: minTemperature, humidity: minHumidity, pressure: minP, soilMoisture: minS  },\n    { type: \"avg\", temp: avgTemperature, humidity: avgHumidity, pressure: avgP, soilMoisture: avgS } ]\n    \n;\n\nconsole.log(\"TESST\", licznik,\"TESTTT\", sumP)\n\n\n// Przekazanie nowych danych do bloczku tableify\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "ebf4fb50a5d9721a"
            ]
        ]
    },
    {
        "id": "38182f01bbd4cc60",
        "type": "base64",
        "z": "fa8f0bbc554d4dba",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 620,
        "y": 660,
        "wires": [
            [
                "03c01f63e6ef3e73",
                "92e9a4af4832ad1f"
            ]
        ]
    },
    {
        "id": "f49b83c54c88c4a9",
        "type": "base64",
        "z": "fa8f0bbc554d4dba",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 860,
        "y": 600,
        "wires": [
            [
                "ddee48fe7e511679",
                "92e9a4af4832ad1f"
            ]
        ]
    },
    {
        "id": "137c36cf0f9e1870",
        "type": "tableify",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "before": "Statystyki dla pomiarów",
        "after": "",
        "tableStyle": "",
        "theadStyle": "",
        "tbodyStyle": "",
        "trStyle": "",
        "tdStyle": "",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "c1a716aa1c06c1a5"
            ]
        ]
    },
    {
        "id": "d71440f891cb28a0",
        "type": "chart-image",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "width": "500",
        "height": "500",
        "x": 450,
        "y": 740,
        "wires": [
            [
                "35452bf31aea88d1"
            ]
        ]
    },
    {
        "id": "35452bf31aea88d1",
        "type": "base64",
        "z": "fa8f0bbc554d4dba",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 620,
        "y": 720,
        "wires": [
            [
                "92e9a4af4832ad1f"
            ]
        ]
    },
    {
        "id": "9b0efa805c41c7f0",
        "type": "chart-image",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "width": "500",
        "height": "500",
        "x": 450,
        "y": 840,
        "wires": [
            [
                "5a14a0d1093630d7"
            ]
        ]
    },
    {
        "id": "5a14a0d1093630d7",
        "type": "base64",
        "z": "fa8f0bbc554d4dba",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 620,
        "y": 820,
        "wires": [
            [
                "92e9a4af4832ad1f"
            ]
        ]
    },
    {
        "id": "ea4ab3dac3ee5ef0",
        "type": "chart-image",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "width": "500",
        "height": "500",
        "x": 450,
        "y": 920,
        "wires": [
            [
                "f4b3cb66d476e3f6"
            ]
        ]
    },
    {
        "id": "f4b3cb66d476e3f6",
        "type": "base64",
        "z": "fa8f0bbc554d4dba",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 620,
        "y": 900,
        "wires": [
            [
                "92e9a4af4832ad1f"
            ]
        ]
    },
    {
        "id": "b2e40a1b4686a1c3",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "Preasure Chart",
        "func": "function getGetOrdinal(n) {\n    var s=[\"th\",\"st\",\"nd\",\"rd\"],\n    v=n%100;\n    return n+(s[(v-20)%10]||s[v]||s[0]);\n }\nlet r = msg.payload;\n\nlet temp = [r.map(v => parseFloat(v.pressure))];\nlet timeV = [r.map(v =>v.date)];\n    \n\n\n\nvar dL = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\nvar dS = [\"Sun\", \"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\"];\nvar mL = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];\nvar mS = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];\n\nlet now = new Date();\n\n// Create the chart object\nlet m = {\n    type: 'line',\n    options: {\n        title: {\n            display: true,\n            text: 'Wykres cisnienia w czasie'\n        },\n        legend: {\n            display: true,\n        },\n        chartArea: {\n            backgroundColor: 'rgba(255, 255, 255, 0.9)',\n            borderColor: 'rgba(0, 0, 0, 0.1)',\n            borderWidth: 1,\n        },\n        scales: {\n            xAxes: [{\n                scaleLabel: {\n                    display: true,\n                    labelString: 'Czas'\n                },\n                ticks: {\n                    autoSkip: true,\n                    maxTicksLimit: 10\n                }\n            }],\n            yAxes: [{\n                scaleLabel: {\n                    display: true,\n                    labelString: 'Cisnienie hPa'\n                }\n            }]\n        },\n        plugins: {\n            datalabels: {\n                display: false,\n                backgroundColor: 'whitesmoke',\n                borderRadius: 1,\n                padding: 1,\n                align: 'right',\n                anchor: function (context) {\n                    if (context.dataIndex == context.dataset.data.length - 1) {\n                        return 'center';\n                    } else {\n                        return 'end';\n                    }\n                },\n                offset: 8,\n                formatter: function (value) {\n                    return value > 0 ? value.toLocaleString() : '';\n                }\n            }\n        }\n    },\n    data: {\n        labels: [],\n        datasets: [\n            {\n                label: \"Cisnienie\",\n                borderColor: 'rgba(57,97,184,0.8)',\n                borderWidth: 2,\n                fill: false,\n                data: [],\n                pointRadius: 2,\n            }\n        ]\n    }\n};\n\n\nfor (let i = 0; i < temp[0].length; i = i + (temp[0].length/100)) {\n    \n    let idx = parseInt(i)\n    console.log(idx);\n    m.data.datasets[0].data.push(temp[0][idx]);\n    // Zamień spację na literę \"T\" i dodaj sufiks \"Z\"\n    let str_date = timeV[0][idx].replace(\" \", \"T\") + \"+01:00\";\n\n    // Utwórz obiekt Date na podstawie przekształconego stringa\n    let dateV = new Date(str_date);\n    m.data.labels.push(dateV.toLocaleString()) }\n\nmsg.payload = m;\nmsg.topic = 'pressureChart'\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 740,
        "wires": [
            [
                "d71440f891cb28a0"
            ]
        ]
    },
    {
        "id": "0b4e22fd6f1fca40",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "soilMoistureChart",
        "func": "function getGetOrdinal(n) {\n    var s=[\"th\",\"st\",\"nd\",\"rd\"],\n    v=n%100;\n    return n+(s[(v-20)%10]||s[v]||s[0]);\n }\n\nlet r = msg.payload;\n\nlet temp = [r.map(v => parseFloat(v.moilSoilture))];\nlet timeV = [r.map(v =>v.date)];\n  \n\n\n\nlet now = new Date();\n\n\nlet m = {\n    type: 'line',\n    options: {\n        title: {\n            display: true,\n            text: 'Wykres wilgotnosci gleby w czasie'\n        },\n        legend: {\n            display: true,\n        },\n        chartArea: {\n            backgroundColor: 'rgba(255, 255, 255, 0.9)',\n            borderColor: 'rgba(0, 0, 0, 0.1)',\n            borderWidth: 1,\n        },\n        scales: {\n            xAxes: [{\n                scaleLabel: {\n                    display: true,\n                    labelString: 'Czas'\n                },\n                ticks: {\n                    autoSkip: true,\n                    maxTicksLimit: 10\n                }\n            }],\n            yAxes: [{\n                scaleLabel: {\n                    display: true,\n                    labelString: 'wilgotnosc gleby w %'\n                }\n            }]\n        },\n        plugins: {\n            datalabels: {\n                display: false,\n                backgroundColor: 'whitesmoke',\n                borderRadius: 1,\n                padding: 1,\n                align: 'right',\n                anchor: function (context) {\n                    if (context.dataIndex == context.dataset.data.length - 1) {\n                        return 'center';\n                    } else {\n                        return 'end';\n                    }\n                },\n                offset: 8,\n                formatter: function (value) {\n                    return value > 0 ? value.toLocaleString() : '';\n                }\n            }\n        }\n    },\n    data: {\n        labels: [],\n        datasets: [\n            {\n                label: \"moilSoilture\",\n                borderColor: 'rgba(57,97,184,0.8)',\n                borderWidth: 2,\n                fill: false,\n                data: [],\n                pointRadius: 2,\n            }\n        ]\n    }\n};\n\n\nfor (let i = 0; i < temp[0].length; i = i + (temp[0].length/100)) {\n    \n    let idx = parseInt(i)\n    console.log(idx);\n    m.data.datasets[0].data.push(temp[0][idx]);\n    // Zamień spację na literę \"T\" i dodaj sufiks \"Z\"\n    let str_date = timeV[0][idx].replace(\" \", \"T\") + \"+01:00\";\n\n    // Utwórz obiekt Date na podstawie przekształconego stringa\n    let dateV = new Date(str_date);\n    m.data.labels.push(dateV.toLocaleString()) }\n\nmsg.payload = m;\nmsg.topic = 'soilChart'\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 840,
        "wires": [
            [
                "9b0efa805c41c7f0"
            ]
        ]
    },
    {
        "id": "d09f6c6970f5ecd7",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "humidityChart",
        "func": "function getGetOrdinal(n) {\n    var s=[\"th\",\"st\",\"nd\",\"rd\"],\n    v=n%100;\n    return n+(s[(v-20)%10]||s[v]||s[0]);\n }\nlet r = msg.payload;\n\nlet temp = [r.map(v => parseFloat(v.humidity))];\nlet timeV = [r.map(v =>v.date)];\n    \n\n\n\nvar dL = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\nvar dS = [\"Sun\", \"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\"];\nvar mL = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];\nvar mS = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];\n\nlet now = new Date();\n\n// Create the chart object\nlet m = {\n    type: 'line',\n    options: {\n        title: {\n            display: true,\n            text: 'Wykres wilgotnosci powietrza w czasie'\n        },\n        legend: {\n            display: true,\n        },\n        chartArea: {\n            backgroundColor: 'rgba(255, 255, 255, 0.9)',\n            borderColor: 'rgba(0, 0, 0, 0.1)',\n            borderWidth: 1,\n        },\n        scales: {\n            xAxes: [{\n                scaleLabel: {\n                    display: true,\n                    labelString: 'Czas'\n                },\n                ticks: {\n                    autoSkip: true,\n                    maxTicksLimit: 10\n                }\n            }],\n            yAxes: [{\n                scaleLabel: {\n                    display: true,\n                    labelString: 'Wilgotnosc w %'\n                }\n            }]\n        },\n        plugins: {\n            datalabels: {\n                display: false,\n                backgroundColor: 'whitesmoke',\n                borderRadius: 1,\n                padding: 1,\n                align: 'right',\n                anchor: function (context) {\n                    if (context.dataIndex == context.dataset.data.length - 1) {\n                        return 'center';\n                    } else {\n                        return 'end';\n                    }\n                },\n                offset: 8,\n                formatter: function (value) {\n                    return value > 0 ? value.toLocaleString() : '';\n                }\n            }\n        }\n    },\n    data: {\n        labels: [],\n        datasets: [\n            {\n                label: \"humidity\",\n                borderColor: 'rgba(57,97,184,0.8)',\n                borderWidth: 2,\n                fill: false,\n                data: [],\n                pointRadius: 2,\n            }\n        ]\n    }\n};\n\n\nfor (let i = 0; i < temp[0].length; i = i + (temp[0].length/100)) {\n    \n    let idx = parseInt(i)\n    console.log(idx);\n    m.data.datasets[0].data.push(temp[0][idx]);\n    // Zamień spację na literę \"T\" i dodaj sufiks \"Z\"\n    let str_date = timeV[0][idx].replace(\" \", \"T\") + \"+01:00\";\n\n    // Utwórz obiekt Date na podstawie przekształconego stringa\n    let dateV = new Date(str_date);\n    m.data.labels.push(dateV.toLocaleString()) }\n\nmsg.payload = m;\nmsg.topic = 'humidityChart'\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 920,
        "wires": [
            [
                "ea4ab3dac3ee5ef0"
            ]
        ]
    },
    {
        "id": "b14358d61e8a57d9",
        "type": "ui_toast",
        "z": "fa8f0bbc554d4dba",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1280,
        "y": 940,
        "wires": []
    },
    {
        "id": "58e488ed04939dc3",
        "type": "template",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Pobrano raport w formacie PDF",
        "output": "str",
        "x": 1080,
        "y": 920,
        "wires": [
            [
                "b14358d61e8a57d9",
                "7df69aebc8059c35"
            ]
        ]
    },
    {
        "id": "44b982fd4671d070",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "temperature bargraph",
        "func": "let r = msg.payload;\n\nlet wilgotnoscPowietrza = r.map((v) => parseFloat(v.temperature*10));\n//let wilgotnoscPowietrza = [50, 60, 70, 75, 80, 85, 90, 92, 95, 98, 100];\n\n// Funkcja do grupowania danych w zakresy\nfunction groupData(data, rangeSize) {\n    let groupedData = {};\n    data.forEach(value => {\n        let rangeKey = Math.floor(value / rangeSize) * rangeSize;\n        if (!groupedData[rangeKey]) {\n            groupedData[rangeKey] = 0;\n        }\n        groupedData[rangeKey]++;\n    });\n    return groupedData;\n}\nlet size = Math.floor((Math.max(...wilgotnoscPowietrza) - Math.min(...wilgotnoscPowietrza)) / 5);\n\n\n// Grupowanie danych w zakresy o szerokości 10\nlet groupedData = groupData(wilgotnoscPowietrza, size);\n\n// Konwersja danych do formatu zrozumiałego dla Chart.js\n\nlet labels = Object.keys(groupedData).map(\n    (rangeKey) => `${parseInt(rangeKey)/10}-${(parseInt(rangeKey) + parseInt(size))/10}`\n);\n\nlet data = Object.values(groupedData);\n\n// Inicjalizacja obiektu wykresu kolumnowego\nlet histogramChart = {\n    type: \"bar\",\n    data: {\n        labels: labels,\n        datasets: [\n            {\n                label: \"Temperatura powietrza\",\n                data: data,\n                backgroundColor: \"rgba(57,97,184,0.8)\",\n            },\n        ],\n    },\n    options: {\n        title: {\n            display: true,\n            text: \"Histogram temperatury Powietrza\",\n        },\n        scales: {\n            xAxes: [\n                {\n                    scaleLabel: {\n                        display: true,\n                        labelString: \"Zakresy temperatury\",\n                    },\n                },\n            ],\n            yAxes: [\n                {\n                    scaleLabel: {\n                        display: true,\n                        labelString: \"Liczba wystąpień\",\n                    },\n                    ticks: {\n                        beginAtZero: true,\n                        stepSize: 1, // Ustawienie kroku osi Y na 1\n                    },\n                },\n            ],\n        },\n    },\n};\nmsg.payload = histogramChart;\nmsg.topic = 'temperatureHistogram'\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 980,
        "wires": [
            [
                "0e6b3290fe5cc63c"
            ]
        ]
    },
    {
        "id": "0e6b3290fe5cc63c",
        "type": "chart-image",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "width": 500,
        "height": "500",
        "x": 470,
        "y": 980,
        "wires": [
            [
                "e3bef56e991a6636"
            ]
        ]
    },
    {
        "id": "e3bef56e991a6636",
        "type": "base64",
        "z": "fa8f0bbc554d4dba",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 660,
        "y": 980,
        "wires": [
            [
                "92e9a4af4832ad1f"
            ]
        ]
    },
    {
        "id": "67b5b0e2ef8c67fe",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "soil bargraph",
        "func": "// Przykładowe dane o wilgotności powietrza\nlet r = msg.payload;\n\nlet wilgotnoscPowietrza = r.map((v) => parseFloat(v.moilSoilture));\n\n// Funkcja do grupowania danych w zakresy\nfunction groupData(data, rangeSize) {\n    let groupedData = {};\n    data.forEach((value) => {\n        let rangeKey = Math.floor(value / rangeSize) * rangeSize;\n        if (!groupedData[rangeKey]) {\n            groupedData[rangeKey] = 0;\n        }\n        groupedData[rangeKey]++;\n    });\n    return groupedData;\n}\n\nlet minWilgotnosc = Math.min(...wilgotnoscPowietrza);\nlet maxWilgotnosc = Math.max(...wilgotnoscPowietrza);\n\nlet size = Math.round((maxWilgotnosc - minWilgotnosc) / 5);\n\n// Grupowanie danych w zakresy o dostosowanej szerokości\nlet groupedData = groupData(wilgotnoscPowietrza, size);\n\n// Konwersja danych do formatu zrozumiałego dla Chart.js\nlet labels = Object.keys(groupedData).map(\n    (rangeKey) => `${rangeKey}-${parseInt(rangeKey) + size}`\n);\nlet data = Object.values(groupedData);\n\n// Inicjalizacja obiektu wykresu kolumnowego\nlet histogramChart = {\n    type: \"bar\",\n    data: {\n        labels: labels,\n        datasets: [\n            {\n                label: \"Wilgotność gleby\",\n                data: data,\n                backgroundColor: \"rgba(57,97,184,0.8)\",\n            },\n        ],\n    },\n    options: {\n        title: {\n            display: true,\n            text: \"Histogram Wilgotności gleby\",\n        },\n        scales: {\n            xAxes: [\n                {\n                    scaleLabel: {\n                        display: true,\n                        labelString: \"Zakresy Wilgotności gleby\",\n                    },\n                },\n            ],\n            yAxes: [\n                {\n                    scaleLabel: {\n                        display: true,\n                        labelString: \"Liczba wystąpień\",\n                    },\n                    ticks: {\n                        beginAtZero: true,\n                        stepSize: 1, // Ustawienie kroku osi Y na 1\n                    },\n                },\n            ],\n        },\n    },\n};\nmsg.payload = histogramChart;\nmsg.topic = 'soilHistogram'\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1060,
        "wires": [
            [
                "4955399cbbf20f16"
            ]
        ]
    },
    {
        "id": "4955399cbbf20f16",
        "type": "chart-image",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "width": 500,
        "height": "500",
        "x": 470,
        "y": 1060,
        "wires": [
            [
                "c78228ab587fa18b"
            ]
        ]
    },
    {
        "id": "c78228ab587fa18b",
        "type": "base64",
        "z": "fa8f0bbc554d4dba",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 680,
        "y": 1060,
        "wires": [
            [
                "92e9a4af4832ad1f"
            ]
        ]
    },
    {
        "id": "95e2d37ec6ebbdf7",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "pressure bargraph",
        "func": "let r = msg.payload;\n\nlet wilgotnoscPowietrza = r.map((v) => parseFloat(v.pressure*100));\n//let wilgotnoscPowietrza = [50, 60, 70, 75, 80, 85, 90, 92, 95, 98, 100];\nconsole.log(Math.max(...wilgotnoscPowietrza))\n// Funkcja do grupowania danych w zakresy\nfunction groupData(data, rangeSize) {\n    let groupedData = {};\n    data.forEach(value => {\n        let rangeKey = Math.floor(value / rangeSize) * rangeSize;\n        if (!groupedData[rangeKey]) {\n            groupedData[rangeKey] = 0;\n        }\n        groupedData[rangeKey]++;\n    });\n    return groupedData;\n}\nlet size = Math.floor((Math.max(...wilgotnoscPowietrza) - Math.min(...wilgotnoscPowietrza)) / 5);\n\n\n// Grupowanie danych w zakresy o szerokości 10\nlet groupedData = groupData(wilgotnoscPowietrza, size);\n\n// Konwersja danych do formatu zrozumiałego dla Chart.js\n\nlet labels = Object.keys(groupedData).map(\n    (rangeKey) => `${parseInt(rangeKey) / 100}-${(parseInt(rangeKey) + parseInt(size)) / 100}`\n);\n\nlet data = Object.values(groupedData);\n\n// Inicjalizacja obiektu wykresu kolumnowego\nlet histogramChart = {\n    type: \"bar\",\n    data: {\n        labels: labels,\n        datasets: [\n            {\n                label: \"Ciśnienie powietrza\",\n                data: data,\n                backgroundColor: \"rgba(57,97,184,0.8)\",\n            },\n        ],\n    },\n    options: {\n        title: {\n            display: true,\n            text: \"Histogram cisnienia Powietrza\",\n        },\n        scales: {\n            xAxes: [\n                {\n                    scaleLabel: {\n                        display: true,\n                        labelString: \"Zakresy cisnienia\",\n                    },\n                },\n            ],\n            yAxes: [\n                {\n                    scaleLabel: {\n                        display: true,\n                        labelString: \"Liczba wystąpień\",\n                    },\n                    ticks: {\n                        beginAtZero: true,\n                        stepSize: 1, // Ustawienie kroku osi Y na 1\n                    },\n                },\n            ],\n        },\n    },\n};\nmsg.payload = histogramChart;\nmsg.topic = 'pressureHistogram'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1120,
        "wires": [
            [
                "6ec3a145f9b937c6"
            ]
        ]
    },
    {
        "id": "6ec3a145f9b937c6",
        "type": "chart-image",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "width": 500,
        "height": "500",
        "x": 490,
        "y": 1120,
        "wires": [
            [
                "dbfaacb2ebd3895b"
            ]
        ]
    },
    {
        "id": "dbfaacb2ebd3895b",
        "type": "base64",
        "z": "fa8f0bbc554d4dba",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 680,
        "y": 1120,
        "wires": [
            [
                "92e9a4af4832ad1f"
            ]
        ]
    },
    {
        "id": "c1a716aa1c06c1a5",
        "type": "change",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "table",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 440,
        "wires": [
            [
                "92e9a4af4832ad1f"
            ]
        ]
    },
    {
        "id": "7df69aebc8059c35",
        "type": "ui_audio",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "group": "1c470b80cfdc6307",
        "voice": "Microsoft Adam - Polish (Poland)",
        "always": true,
        "x": 1280,
        "y": 900,
        "wires": []
    },
    {
        "id": "6891e3c775877162",
        "type": "ui_audio",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "group": "4f0d5373c4963023",
        "voice": "Microsoft Paulina - Polish (Poland)",
        "always": true,
        "x": 840,
        "y": 80,
        "wires": []
    },
    {
        "id": "fabe5aab74f6a098",
        "type": "function",
        "z": "fa8f0bbc554d4dba",
        "name": "Text to generate speech",
        "func": "\nif (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    // Jeśli payload to lista z obiektami, zrób coś innego    \n    const plant = global.get(\"plant\");;\n    msg.payload = `Generuje raport dla ${plant}, proszę zaczekać`;\n} else {\n    // W przeciwnym razie, zrób coś jeszcze innego\n    msg.payload = \"Nie poprawny odczyt z bazy danych, spróbuj ponownie\";\n}\n\n// Zwróć zmieniony obiekt wiadomości\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 80,
        "wires": [
            [
                "6891e3c775877162"
            ]
        ]
    },
    {
        "id": "75a9f21c6bb0aa3e",
        "type": "change",
        "z": "fa8f0bbc554d4dba",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "plant",
                "pt": "global",
                "to": "payload.plant",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "777b322ad2a0b94f",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "9e13cf450f92c3d5",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "505492d188e60bb2",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "6b40a03c26e4e886",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "ea49875c2e449d57",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "54a29132e0e6db58",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "7c4999922df3318c",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "fd2e6c0e912d3d3a",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "a402415bb9ca6b0e",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "d85f72b94f2622c9",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "bff19681dde0d358",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 12,
        "width": 6,
        "height": 1
    },
    {
        "id": "abd947d01751c5fe",
        "type": "ui_spacer",
        "z": "fa8f0bbc554d4dba",
        "name": "spacer",
        "group": "4f0d5373c4963023",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "1c470b80cfdc6307",
        "type": "ui_group",
        "name": "Zakres czasowy",
        "tab": "baab9e3873f5c3b9",
        "order": 1,
        "disp": true,
        "width": 17,
        "collapse": true,
        "className": ""
    },
    {
        "id": "a94c2155e352c42e",
        "type": "MySQLdatabase",
        "name": "cspdatabase",
        "host": "db4free.net",
        "port": "3306",
        "db": "cspdatabase",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "4f0d5373c4963023",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "baab9e3873f5c3b9",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "baab9e3873f5c3b9",
        "type": "ui_tab",
        "name": "Raport2",
        "icon": "chrome_reader_mode",
        "order": 9,
        "disabled": false,
        "hidden": false
    }
]