powiadomienia2.json
[
    {
        "id": "ce04df83f63f6b85",
        "type": "tab",
        "label": "Powiadomienia kalendarzowe 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89e4f2131cd3ee7c",
        "type": "mqtt in",
        "z": "ce04df83f63f6b85",
        "name": "PIR/L1/Z3/buttB",
        "topic": "PIR/L1/Z3/buttB",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f12fc18651ff77d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 140,
        "wires": [
            [
                "db511ace04af3b91"
            ]
        ]
    },
    {
        "id": "db511ace04af3b91",
        "type": "switch",
        "z": "ce04df83f63f6b85",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 140,
        "wires": [
            [
                "ae431c2bdfa0b41e"
            ],
            [
                "ae431c2bdfa0b41e"
            ]
        ]
    },
    {
        "id": "ae431c2bdfa0b41e",
        "type": "join",
        "z": "ce04df83f63f6b85",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 140,
        "wires": [
            [
                "6b3873c57240180a"
            ]
        ]
    },
    {
        "id": "6b3873c57240180a",
        "type": "switch",
        "z": "ce04df83f63f6b85",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1 0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "8186c9aa6ab436bb"
            ],
            [
                "e63e2a903e65b607"
            ]
        ]
    },
    {
        "id": "ba951c65a4280c83",
        "type": "template",
        "z": "ce04df83f63f6b85",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Podlano roślinkę {{payload}}",
        "output": "str",
        "x": 480,
        "y": 320,
        "wires": [
            [
                "11b1132aa2ddd3e4",
                "fd1a051dea883abd",
                "966c6a34f4778643"
            ]
        ]
    },
    {
        "id": "e63e2a903e65b607",
        "type": "template",
        "z": "ce04df83f63f6b85",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "",
        "output": "str",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "11b1132aa2ddd3e4",
                "fd1a051dea883abd"
            ]
        ]
    },
    {
        "id": "11b1132aa2ddd3e4",
        "type": "change",
        "z": "ce04df83f63f6b85",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d5b26f0ab390f248",
        "type": "mqtt in",
        "z": "ce04df83f63f6b85",
        "name": "",
        "topic": "PIR/L1/Z3/jsonData",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1658dccaf854d8ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 700,
        "wires": [
            [
                "485039cbe2a8088e"
            ]
        ]
    },
    {
        "id": "485039cbe2a8088e",
        "type": "json",
        "z": "ce04df83f63f6b85",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 310,
        "y": 700,
        "wires": [
            [
                "c36ed7fd50ba66a2",
                "f2dd3baccb0574bb"
            ]
        ]
    },
    {
        "id": "c36ed7fd50ba66a2",
        "type": "function",
        "z": "ce04df83f63f6b85",
        "name": "Parsowanie JSON",
        "func": "var data = JSON.parse(msg.payload);\nvar name = data.name;\nvar timeWatering = data.timeWatering;\nvar moilSoilture = data.moilSoilture;\nvar temperature = data.temperature;\nvar humidity = data.humidity;\nvar pressure = data.pressure;\n\nvar result = name + \",\\nczas podlewania: \" + timeWatering; \nresult=result+\",\\nparametry:\\n\" \nresult+= moilSoilture+\"% wilgotności gleby w doniczce\\n\"\nresult += temperature + \"stopni celsusza powietrza w otoczeniu\\n\"\nresult += humidity + \"% wilgotności powietrza w otoczeniu\\n\"\nresult += pressure + \"hPa ciśnienia powietrza w otoczeniu\"\n\nmsg.payload=result;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 560,
        "wires": [
            [
                "8186c9aa6ab436bb"
            ]
        ]
    },
    {
        "id": "8186c9aa6ab436bb",
        "type": "join",
        "z": "ce04df83f63f6b85",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": " ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "ba951c65a4280c83"
            ]
        ]
    },
    {
        "id": "fd1a051dea883abd",
        "type": "ui_toast",
        "z": "ce04df83f63f6b85",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 780,
        "y": 320,
        "wires": []
    },
    {
        "id": "966c6a34f4778643",
        "type": "ui_audio",
        "z": "ce04df83f63f6b85",
        "name": "",
        "group": "4f0d5373c4963023",
        "voice": "",
        "always": true,
        "x": 780,
        "y": 220,
        "wires": []
    },
    {
        "id": "4007afaae1e23bec",
        "type": "ui_audio",
        "z": "ce04df83f63f6b85",
        "name": "",
        "group": "4f0d5373c4963023",
        "voice": "",
        "always": true,
        "x": 940,
        "y": 660,
        "wires": []
    },
    {
        "id": "f2dd3baccb0574bb",
        "type": "function",
        "z": "ce04df83f63f6b85",
        "name": "Parsowanie JSON",
        "func": "var data = JSON.parse(msg.payload);\nvar name = data.name;\n\nvar moilSoilture = parseFloat(data.moilSoilture);\nvar temperature = parseFloat(data.temperature);\nvar humidity = parseFloat(data.humidity);\n\n\n// Określ granice dla każdej wartości\nvar maxMoilSoilture = 70; // przykładowa granica dla moilSoilture\nvar maxTemperature = 26;   // przykładowa granica dla temperature\nvar maxHumidity = 60;      // przykładowa granica dla humidity\n\n\n// Sprawdź, czy wartości przekraczają granice\nif (moilSoilture > maxMoilSoilture) {\n    return msg.payload = \"Wartość wilgotności gleby przekracza granicę\";\n} else if (temperature > maxTemperature) {\n    return msg.payload = \"Wartość temperatury przekracza granicę\";\n} else if (humidity > maxHumidity) {\n    return msg.payload = \"Wartość wilgotności przekracza granicę\";\n}  \n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 760,
        "wires": [
            [
                "dd776d7f8f39382b"
            ]
        ]
    },
    {
        "id": "dd776d7f8f39382b",
        "type": "delay",
        "z": "ce04df83f63f6b85",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "30",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 660,
        "wires": [
            [
                "4007afaae1e23bec"
            ]
        ]
    },
    {
        "id": "6f12fc18651ff77d",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1658dccaf854d8ce",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4f0d5373c4963023",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "baab9e3873f5c3b9",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "baab9e3873f5c3b9",
        "type": "ui_tab",
        "name": "Raport2",
        "icon": "chrome_reader_mode",
        "order": 9,
        "disabled": false,
        "hidden": false
    }
]