sendEmail.json
[
    {
        "id": "7d0873b919f54f73",
        "type": "tab",
        "label": "email",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "57e4b321442b9b8f",
        "type": "function",
        "z": "7d0873b919f54f73",
        "name": "function 1",
        "func": "const currentDate = new Date();\n\nmsg.color = msg.payload >= 30 ? \"red\" : \"blue\";\nmsg.text = msg.payload >= 30 ? \"wysoka\" : \"niska\";\nmsg.imageSrc = msg.payload >= 30 ? \"https://cdn-icons-png.flaticon.com/512/2188/2188140.png\":\n \"https://cdn-icons-png.flaticon.com/512/899/899708.png\";\n\nmsg.year = currentDate.getFullYear();\nmsg.month = (currentDate.getMonth() + 1).toString().padStart(2, '0');\nmsg.day = currentDate.getDate().toString().padStart(2, '0');\n\nmsg.hours = currentDate.getHours().toString().padStart(2, '0');\nmsg.minutes = currentDate.getMinutes().toString().padStart(2, '0');\nmsg.topic = \"Alert temperatury\" \nconst seconds = currentDate.getSeconds().toString().padStart(2, '0');\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 140,
        "wires": [
            [
                "ec74360a91b2ee32"
            ]
        ]
    },
    {
        "id": "89d7977d3a56cccf",
        "type": "e-mail",
        "z": "7d0873b919f54f73",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "romanmuron3@gmail.com",
        "dname": "",
        "credentials": {},
        "x": 900,
        "y": 280,
        "wires": [],
        "info": "# Wiadomośc email"
    },
    {
        "id": "ec74360a91b2ee32",
        "type": "template",
        "z": "7d0873b919f54f73",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Your Weather App</title>\n    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>\n</head>\n\n<body style=\"padding: 5px; margin: 5px; text-align: center; background-color: #4B515D;\">\n    <div style=\"height: 5px; background-color: #4B515D;\">\n    </div>\n    <div\n        style=\"height: 500px; padding: 20px; margin: 0px auto; background-color: #4B515D; width: 300px; border-radius: 35px; background-color: white;\">\n        <div style=\"display: flex; margin-bottom: 10px;\">\n            <div style=\"width: 90%; display: flex; align-items: start;\">{{day}}.{{month}}.{{year}}</div>\n            <div>{{hours}}:{{minutes}}</div>\n        </div>\n        <div style=\"font-size: 1.5em;  margin-bottom: 10px; color:{{color}};\">{{topic}}</div>\n        <div style=\"width: 100%; max-width: 100px; height: 100px; margin-left: 90px;\">\n            <img src={{imageSrc}} alt=\"icon\" style=\"width: 100%; height: 100%; object-fit: contain;\">\n        </div>\n        <div style=\"height: 130px; line-height: 130px; font-size: 100px;\">{{payload}}&#176;C</div>\n        <div style=\"font-size: 1.5em; margin-bottom: 10px;  color:{{color}}\">Temperatura za {{text}}</div>\n        <div\n            style=\"display: flex; align-items: center; justify-content: center; width: 150%; max-width: 150px; margin-top:-10px; height: 165px; margin-left: 70px;\">\n            <img src=\"https://st4.depositphotos.com/32986944/38957/v/450/depositphotos_389579716-stock-illustration-green-tree-growing-in-hand.jpg\" alt=\"icon\" style=\"width: 100%; height: 95%; object-fit: contain;\">\n        </div>\n    </div>\n    <div style=\"height: 5px; background-color: #4B515D;\">\n    </div>\n</body>\n\n</html>",
        "output": "str",
        "x": 700,
        "y": 280,
        "wires": [
            [
                "89d7977d3a56cccf"
            ]
        ]
    },
    {
        "id": "86c0167550baf03b",
        "type": "mqtt in",
        "z": "7d0873b919f54f73",
        "name": "",
        "topic": "PIR/L1/Z3/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1658dccaf854d8ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 100,
        "wires": [
            [
                "ee8f57a9b6c9ed24"
            ]
        ]
    },
    {
        "id": "58937a4679d0c510",
        "type": "inject",
        "z": "7d0873b919f54f73",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "31",
        "payloadType": "num",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "ee8f57a9b6c9ed24"
            ]
        ]
    },
    {
        "id": "05021bfe4d39061d",
        "type": "switch",
        "z": "7d0873b919f54f73",
        "name": "Temperature Threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 100,
        "wires": [
            [
                "57e4b321442b9b8f"
            ]
        ]
    },
    {
        "id": "b6546f07e619dc90",
        "type": "switch",
        "z": "7d0873b919f54f73",
        "name": "Temperature Threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "57e4b321442b9b8f"
            ]
        ]
    },
    {
        "id": "61d87ddfacde982f",
        "type": "switch",
        "z": "7d0873b919f54f73",
        "name": "Temperature Threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "40",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "0cfd710cb63a3fdb"
            ]
        ]
    },
    {
        "id": "8d0283739b0d03ee",
        "type": "switch",
        "z": "7d0873b919f54f73",
        "name": "Temperature Threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "50",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 470,
        "y": 460,
        "wires": [
            [
                "0cfd710cb63a3fdb"
            ]
        ]
    },
    {
        "id": "24abef08c138fac6",
        "type": "inject",
        "z": "7d0873b919f54f73",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "31",
        "payloadType": "num",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "6162f67b48509722"
            ]
        ]
    },
    {
        "id": "0cfd710cb63a3fdb",
        "type": "function",
        "z": "7d0873b919f54f73",
        "name": "function 6",
        "func": "const currentDate = new Date();\n\nmsg.color = msg.payload >= 30 ? \"red\" : \"blue\";\nmsg.text = msg.payload >= 30 ? \"wysoka\" : \"niska\";\nmsg.imageSrc = msg.payload >= 30 ? \"https://cdn-icons-png.flaticon.com/512/2188/2188140.png\":\n \"https://cdn-icons-png.flaticon.com/512/899/899708.png\";\n\nmsg.year = currentDate.getFullYear();\nmsg.month = (currentDate.getMonth() + 1).toString().padStart(2, '0');\nmsg.day = currentDate.getDate().toString().padStart(2, '0');\n\nmsg.hours = currentDate.getHours().toString().padStart(2, '0');\nmsg.minutes = currentDate.getMinutes().toString().padStart(2, '0');\nmsg.topic = \"Alert wilgotności\" \nconst seconds = currentDate.getSeconds().toString().padStart(2, '0');\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 420,
        "wires": [
            [
                "e23831a152ea9ab6"
            ]
        ]
    },
    {
        "id": "e23831a152ea9ab6",
        "type": "template",
        "z": "7d0873b919f54f73",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Your Weather App</title>\n    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>\n</head>\n\n<body style=\"padding: 5px; margin: 5px; text-align: center; background-color: #4B515D;\">\n    <div style=\"height: 5px; background-color: #4B515D;\">\n    </div>\n    <div\n        style=\"height: 500px; padding: 20px; margin: 0px auto; background-color: #4B515D; width: 300px; border-radius: 35px; background-color: white;\">\n        <div style=\"display: flex; margin-bottom: 10px;\">\n            <div style=\"width: 90%; display: flex; align-items: start;\">{{day}}.{{month }}.{{year}}</div>\n            <div>{{hours}}:{{minutes}}</div>\n        </div>\n        <div style=\"font-size: 1.5em;  margin-bottom: 10px; color:{{color}};\">{{topic}}</div>\n        <div style=\"width: 100%; max-width: 100px; height: 100px; margin-left: 90px;\">\n            <img src={{imageSrc}} alt=\"icon\" style=\"width: 100%; height: 100%; object-fit: contain;\">\n        </div>\n        <div style=\"height: 130px; line-height: 130px; font-size: 100px;\">{{payload}}%</div>\n        <div style=\"font-size: 1.5em; margin-bottom: 10px;  color:{{color}}\">Wilgotność za {{text}}</div>\n        <div\n            style=\"display: flex; align-items: center; justify-content: center; width: 150%; max-width: 150px; margin-top:-10px; height: 165px; margin-left: 70px;\">\n            <img src=\"https://st4.depositphotos.com/32986944/38957/v/450/depositphotos_389579716-stock-illustration-green-tree-growing-in-hand.jpg\" alt=\"icon\" style=\"width: 100%; height: 95%; object-fit: contain;\">\n        </div>\n    </div>\n    <div style=\"height: 5px; background-color: #4B515D;\">\n    </div>\n</body>\n\n</html>",
        "output": "str",
        "x": 820,
        "y": 420,
        "wires": [
            [
                "2484bd1165768fc7"
            ]
        ]
    },
    {
        "id": "2484bd1165768fc7",
        "type": "e-mail",
        "z": "7d0873b919f54f73",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "romanmuron3@gmail.com",
        "dname": "",
        "credentials": {},
        "x": 1020,
        "y": 380,
        "wires": [],
        "info": "# Wiadomośc email"
    },
    {
        "id": "da0cf81ff2b5d25e",
        "type": "mqtt in",
        "z": "7d0873b919f54f73",
        "name": "",
        "topic": "PIR/L1/Z3/pressure",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1658dccaf854d8ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "af8b05bbcf649fb4"
            ]
        ]
    },
    {
        "id": "ebf1680e947daf7d",
        "type": "switch",
        "z": "7d0873b919f54f73",
        "name": "Temperature Threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "1020",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 540,
        "wires": [
            [
                "ef19bdb6e1a44267"
            ]
        ]
    },
    {
        "id": "3a18408946f375a2",
        "type": "switch",
        "z": "7d0873b919f54f73",
        "name": "Temperature Threshold",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "1100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 620,
        "wires": [
            [
                "ef19bdb6e1a44267"
            ]
        ]
    },
    {
        "id": "1dd584cbc520c737",
        "type": "inject",
        "z": "7d0873b919f54f73",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "31",
        "payloadType": "num",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "af8b05bbcf649fb4"
            ]
        ]
    },
    {
        "id": "ef19bdb6e1a44267",
        "type": "function",
        "z": "7d0873b919f54f73",
        "name": "function 7",
        "func": "const currentDate = new Date();\n\nmsg.color = msg.payload >= 30 ? \"red\" : \"blue\";\nmsg.text = msg.payload >= 30 ? \"wysokie\" : \"niskie\";\nmsg.imageSrc = msg.payload >= 30 ? \"https://cdn-icons-png.flaticon.com/512/2188/2188140.png\":\n \"https://cdn-icons-png.flaticon.com/512/899/899708.png\";\n\nmsg.year = currentDate.getFullYear();\nmsg.month = (currentDate.getMonth() + 1).toString().padStart(2, '0');\nmsg.day = currentDate.getDate().toString().padStart(2, '0');\n\nmsg.hours = currentDate.getHours().toString().padStart(2, '0');\nmsg.minutes = currentDate.getMinutes().toString().padStart(2, '0');\nmsg.topic = \"Alert ciśnienia\" \nconst seconds = currentDate.getSeconds().toString().padStart(2, '0');\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 580,
        "wires": [
            [
                "2fbb5083df625ea8"
            ]
        ]
    },
    {
        "id": "2fbb5083df625ea8",
        "type": "template",
        "z": "7d0873b919f54f73",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Your Weather App</title>\n    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>\n</head>\n\n<body style=\"padding: 5px; margin: 5px; text-align: center; background-color: #4B515D;\">\n    <div style=\"height: 5px; background-color: #4B515D;\">\n    </div>\n    <div\n        style=\"height: 500px; padding: 20px; margin: 0px auto; background-color: #4B515D; width: 300px; border-radius: 35px; background-color: white;\">\n        <div style=\"display: flex; margin-bottom: 10px;\">\n            <div style=\"width: 90%; display: flex; align-items: start;\">{{day}}.{{month }}.{{year}}</div>\n            <div>{{hours}}:{{minutes}}</div>\n        </div>\n        <div style=\"font-size: 1.5em;  margin-bottom: 10px; color:{{color}};\">{{topic}}</div>\n        <div style=\"width: 100%; max-width: 100px; height: 100px; margin-left: 90px;\">\n            <img src={{imageSrc}} alt=\"icon\" style=\"width: 100%; height: 100%; object-fit: contain;\">\n        </div>\n        <div style=\"height: 130px; line-height: 130px; font-size: 50px;\">{{payload}} hPa</div>\n        <div style=\"font-size: 1.5em; margin-bottom: 10px;  color:{{color}}\">Ciśnienie za {{text}}</div>\n        <div\n            style=\"display: flex; align-items: center; justify-content: center; width: 150%; max-width: 150px; margin-top:-10px; height: 165px; margin-left: 70px;\">\n            <img src=\"https://st4.depositphotos.com/32986944/38957/v/450/depositphotos_389579716-stock-illustration-green-tree-growing-in-hand.jpg\" alt=\"icon\" style=\"width: 100%; height: 95%; object-fit: contain;\">\n        </div>\n    </div>\n    <div style=\"height: 5px; background-color: #4B515D;\">\n    </div>\n</body>\n\n</html>",
        "output": "str",
        "x": 860,
        "y": 580,
        "wires": [
            [
                "d895df8ecf38827d"
            ]
        ]
    },
    {
        "id": "d895df8ecf38827d",
        "type": "e-mail",
        "z": "7d0873b919f54f73",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "romanmuron3@gmail.com",
        "dname": "",
        "credentials": {},
        "x": 1000,
        "y": 520,
        "wires": [],
        "info": "# Wiadomośc email"
    },
    {
        "id": "e2c2829ecba7eaea",
        "type": "mqtt in",
        "z": "7d0873b919f54f73",
        "name": "",
        "topic": "PIR/L1/Z3/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "1658dccaf854d8ce",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "6162f67b48509722"
            ]
        ]
    },
    {
        "id": "af8b05bbcf649fb4",
        "type": "delay",
        "z": "7d0873b919f54f73",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 290,
        "y": 580,
        "wires": [
            [
                "ebf1680e947daf7d",
                "3a18408946f375a2"
            ]
        ]
    },
    {
        "id": "6162f67b48509722",
        "type": "delay",
        "z": "7d0873b919f54f73",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "8d0283739b0d03ee",
                "61d87ddfacde982f"
            ]
        ]
    },
    {
        "id": "ee8f57a9b6c9ed24",
        "type": "delay",
        "z": "7d0873b919f54f73",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "hour",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "05021bfe4d39061d",
                "b6546f07e619dc90"
            ]
        ]
    },
    {
        "id": "1658dccaf854d8ce",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]