Table.json
[
    {
        "id": "b52ade56e6a76df6",
        "type": "tab",
        "label": "Table",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "05c88fe0ab029bc3",
        "type": "mysql",
        "z": "b52ade56e6a76df6",
        "mydb": "a94c2155e352c42e",
        "name": "MySQL Database",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "8940c3f442bf93b9"
            ]
        ]
    },
    {
        "id": "8940c3f442bf93b9",
        "type": "ui_table",
        "z": "b52ade56e6a76df6",
        "group": "b2d6a9c5afcba662",
        "name": "",
        "order": 2,
        "width": 18,
        "height": 12,
        "columns": [
            {
                "field": "name",
                "title": "Name",
                "width": "90",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timeWatering",
                "title": "lastWatering",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "temperature",
                "title": "Temperature",
                "width": "140",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "pressure",
                "title": "Pressure",
                "width": "110",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "humidity",
                "title": "Humidity",
                "width": "110",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "moilSoilture",
                "title": "SoilMoilture",
                "width": "140",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "date",
                "title": "Date",
                "width": "180",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "d5b97ea79a47d48d",
        "type": "inject",
        "z": "b52ade56e6a76df6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "17a40872b4f4d794"
            ]
        ]
    },
    {
        "id": "17a40872b4f4d794",
        "type": "function",
        "z": "b52ade56e6a76df6",
        "name": "Prepare SQL Query",
        "func": "//var pol = 'SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data';\n//return pol;\nmsg.topic = \"SELECT name,timeWatering,temperature, pressure, humidity, moilSoilture, date FROM plant_data\";\nmsg.payload = [msg.payload];\nreturn msg;\n//return { \"topic\": \"SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data\", \"payload\": null };\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 220,
        "wires": [
            [
                "05c88fe0ab029bc3"
            ]
        ]
    },
    {
        "id": "88c1d77af935e088",
        "type": "inject",
        "z": "b52ade56e6a76df6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "601643a3042acffd"
            ]
        ]
    },
    {
        "id": "601643a3042acffd",
        "type": "function",
        "z": "b52ade56e6a76df6",
        "name": "Prepare SQL Query",
        "func": "//var pol = 'SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data';\n//return pol;\nmsg.topic = \"ALTER TABLE plant_data ADD COLUMN timeWatering TEXT\";\nmsg.payload = [msg.payload];\nreturn msg;\n//return { \"topic\": \"SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data\", \"payload\": null };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 380,
        "wires": [
            [
                "05c88fe0ab029bc3"
            ]
        ]
    },
    {
        "id": "ae8b4b106f1c2657",
        "type": "function",
        "z": "b52ade56e6a76df6",
        "name": "Prepare SQL Query",
        "func": "//var pol = 'SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data';\n//return pol;\n\nmsg.topic = \"UPDATE plant_data SET timeWatering = '2023-09-12 16:45:48' WHERE timeWatering IS NULL\";\nmsg.payload = [msg.payload];\nreturn msg;\n//return { \"topic\": \"SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data\", \"payload\": null };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 480,
        "wires": [
            [
                "05c88fe0ab029bc3"
            ]
        ]
    },
    {
        "id": "253e773336f550d9",
        "type": "inject",
        "z": "b52ade56e6a76df6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "ae8b4b106f1c2657"
            ]
        ]
    },
    {
        "id": "4eaabeea839b8115",
        "type": "comment",
        "z": "b52ade56e6a76df6",
        "name": "Ustawienie wartości domyślnych",
        "info": "",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "ee1f76a8bb56aed2",
        "type": "comment",
        "z": "b52ade56e6a76df6",
        "name": "Dodanie nowej kolumny",
        "info": "",
        "x": 100,
        "y": 280,
        "wires": []
    },
    {
        "id": "3233259130633441",
        "type": "ui_button",
        "z": "b52ade56e6a76df6",
        "name": "",
        "group": "b2d6a9c5afcba662",
        "order": 29,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "17a40872b4f4d794"
            ]
        ]
    },
    {
        "id": "e6a0ebfcad18eb2e",
        "type": "ui_dropdown",
        "z": "b52ade56e6a76df6",
        "name": "",
        "label": "Measurement",
        "tooltip": "",
        "place": "Select option",
        "group": "b2d6a9c5afcba662",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "temperature",
                "value": "temperature",
                "type": "str"
            },
            {
                "label": "humidity",
                "value": "humidity",
                "type": "str"
            },
            {
                "label": "pressure",
                "value": "pressure",
                "type": "str"
            },
            {
                "label": "soilMoisture",
                "value": "moilSoisture",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "dropdown",
        "topicType": "str",
        "className": "",
        "x": 220,
        "y": 20,
        "wires": [
            [
                "c770613f436be6ae"
            ]
        ]
    },
    {
        "id": "67423ba34b721f10",
        "type": "function",
        "z": "b52ade56e6a76df6",
        "name": "Filter query",
        "func": "// Odczytaj wartości zmiennych kontekstu przepływu\nvar dropdown = flow.get('dropdown');\nvar maxValue = flow.get('maxValue');\nvar operator = flow.get('operator');\n\n// Sprawdź, czy zmienne są zdefiniowane\nif (dropdown !== undefined && maxValue !== undefined) {\n    msg.topic = \"SELECT name,timeWatering,temperature, pressure, humidity, moilSoilture, date FROM plant_data WHERE \" + dropdown + operator + maxValue.toString();\n    msg.payload = [msg.payload];\n    return msg;\n\n    return msg;\n} else {\n    // Jedna zmienna lub obie są niezdefiniowane\n    node.error(\"One or both variables are not defined!\");\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 60,
        "wires": [
            [
                "05c88fe0ab029bc3"
            ]
        ]
    },
    {
        "id": "eb55b91abba4504e",
        "type": "ui_text_input",
        "z": "b52ade56e6a76df6",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "b2d6a9c5afcba662",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "text",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "83dc7a73a8c01da0"
            ]
        ]
    },
    {
        "id": "5d3ff043fe2adb71",
        "type": "ui_button",
        "z": "b52ade56e6a76df6",
        "name": "",
        "group": "b2d6a9c5afcba662",
        "order": 14,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "Filter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa fa-filter",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 690,
        "y": 40,
        "wires": [
            [
                "67423ba34b721f10"
            ]
        ]
    },
    {
        "id": "c770613f436be6ae",
        "type": "change",
        "z": "b52ade56e6a76df6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dropdown",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "83dc7a73a8c01da0",
        "type": "change",
        "z": "b52ade56e6a76df6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxValue",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e165888368408e31",
        "type": "ui_dropdown",
        "z": "b52ade56e6a76df6",
        "name": "",
        "label": "Operator",
        "tooltip": "",
        "place": "Select option",
        "group": "b2d6a9c5afcba662",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": ">",
                "value": ">",
                "type": "str"
            },
            {
                "label": "<",
                "value": "<",
                "type": "str"
            },
            {
                "label": "=",
                "value": "=",
                "type": "str"
            },
            {
                "label": ">=",
                "value": ">=",
                "type": "str"
            },
            {
                "label": "<=",
                "value": "<=",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "operator",
        "topicType": "str",
        "className": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "14680e09fce8111b"
            ]
        ]
    },
    {
        "id": "14680e09fce8111b",
        "type": "change",
        "z": "b52ade56e6a76df6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "operator",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e51cdb2e8859d505",
        "type": "ui_text",
        "z": "b52ade56e6a76df6",
        "group": "b2d6a9c5afcba662",
        "order": 10,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "eda73f7ccee8db6f",
        "type": "inject",
        "z": "b52ade56e6a76df6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Value",
        "payloadType": "str",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "e51cdb2e8859d505"
            ]
        ]
    },
    {
        "id": "5af26532d5f43680",
        "type": "function",
        "z": "b52ade56e6a76df6",
        "name": "function 12",
        "func": "\nconst date_from = msg.payload.date_from;\nconst date_to = msg.payload.date_to;\nconst plant =msg.payload.plant\nmsg.payload[2]= plant\n//var test = msg.payload\n\nconst dateObject = new Date(date_from);\nconst dateObject2 = new Date(date_to);\n\n// Uzyskanie poszczególnych komponentów daty\nconst year = dateObject.getFullYear();\nconst month = dateObject.getMonth() + 1; // Dodajemy 1, ponieważ miesiące są liczone od 0 do 11\nconst day = dateObject.getDate();\n// Sformatowanie daty w oczekiwanym formacie\nconst formattedDate = `${year}.${month < 10 ? '0' : ''}${month}.${day < 10 ? '0' : ''}${day}`;\nmsg.payload[0] = formattedDate\n\n// Uzyskanie poszczególnych komponentów daty\nconst year2 = dateObject2.getFullYear();\nconst month2 = dateObject2.getMonth() + 1; // Dodajemy 1, ponieważ miesiące są liczone od 0 do 11\nconst day2 = dateObject2.getDate();\n// Sformatowanie daty w oczekiwanym formacie\nconst formattedDate2 = `${year2}.${month < 10 ? '0' : ''}${month2}.${day2 < 10 ? '0' : ''}${day2}`;\nmsg.payload[1] = formattedDate2\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 620,
        "wires": [
            [
                "2eb77e443624a89d"
            ]
        ]
    },
    {
        "id": "2eb77e443624a89d",
        "type": "change",
        "z": "b52ade56e6a76df6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "date_from",
                "pt": "flow",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "date_to",
                "pt": "flow",
                "to": "payload[1]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "plant",
                "pt": "flow",
                "to": "payload[2]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "63b8500b90150323",
        "type": "ui_button",
        "z": "b52ade56e6a76df6",
        "name": "",
        "group": "b2d6a9c5afcba662",
        "order": 24,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "Filter date",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa fa-filter",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 600,
        "y": 520,
        "wires": [
            [
                "f796ae30a13991cf"
            ]
        ]
    },
    {
        "id": "f796ae30a13991cf",
        "type": "function",
        "z": "b52ade56e6a76df6",
        "name": "Filter query",
        "func": "// Odczytaj wartości zmiennych kontekstu przepływu\nvar date = flow.get('date_from')\nvar date2 = flow.get('date_to')\nvar plant = flow.get('plant')\n\nvar operator = flow.get('operator2');\n\n// Sprawdź, czy zmienne są zdefiniowane\nif (date !== undefined && operator !== undefined) {\n    var fullDate = date + ' 00:00:00'\n    node.warn(\"Date: \" + fullDate);\n    node.warn(\"Operator: \" + operator);\n    if (plant!== undefined && plant!=='') {\n    msg.topic = `SELECT * FROM plant_data WHERE name='${plant}'AND STR_TO_DATE(date, '%Y-%m-%d') >= STR_TO_DATE('${date}', '%Y.%m.%d') AND STR_TO_DATE(date, '%Y-%m-%d') <= STR_TO_DATE('${date2}', '%Y.%m.%d')`;\n    }\n    else {\n        msg.topic = `SELECT * FROM plant_data WHERE  STR_TO_DATE(date, '%Y-%m-%d') >= STR_TO_DATE('${date}', '%Y.%m.%d') AND STR_TO_DATE(date, '%Y-%m-%d') <= STR_TO_DATE('${date2}', '%Y.%m.%d')`;\n    }\n\n    msg.payload = [msg.payload];\n    return msg;\n\n    \n} else {\n    // Jedna zmienna lub obie są niezdefiniowane\n    node.error(\"One or both variables are not defined!\");\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 540,
        "wires": [
            [
                "05c88fe0ab029bc3"
            ]
        ]
    },
    {
        "id": "1f0c2a01b72dd9ec",
        "type": "ui_form",
        "z": "b52ade56e6a76df6",
        "name": "",
        "label": "",
        "group": "b2d6a9c5afcba662",
        "order": 20,
        "width": 5,
        "height": 1,
        "options": [
            {
                "label": "From:",
                "value": "date_from",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "To:",
                "value": "date_to",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Plant",
                "value": "plant",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "date_from": "",
            "date_to": "",
            "plant": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 170,
        "y": 680,
        "wires": [
            [
                "5af26532d5f43680"
            ]
        ]
    },
    {
        "id": "a94c2155e352c42e",
        "type": "MySQLdatabase",
        "name": "cspdatabase",
        "host": "db4free.net",
        "port": "3306",
        "db": "cspdatabase",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b2d6a9c5afcba662",
        "type": "ui_group",
        "name": "DataTable",
        "tab": "b61e80c244cad97c",
        "order": 1,
        "disp": true,
        "width": 28,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b61e80c244cad97c",
        "type": "ui_tab",
        "name": "Table",
        "icon": "fa-table",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]