Table.json
[
    {
        "id": "37cb5efec3cb066e",
        "type": "tab",
        "label": "Table",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9735ab560d115009",
        "type": "mysql",
        "z": "37cb5efec3cb066e",
        "mydb": "a94c2155e352c42e",
        "name": "MySQL Database",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "359986354008195a"
            ]
        ]
    },
    {
        "id": "359986354008195a",
        "type": "ui_table",
        "z": "37cb5efec3cb066e",
        "group": "2632a0ecd6051959",
        "name": "",
        "order": 1,
        "width": 18,
        "height": 12,
        "columns": [
            {
                "field": "name",
                "title": "Name",
                "width": "90",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timeWatering",
                "title": "lastWatering",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "temperature",
                "title": "Temperature",
                "width": "140",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "pressure",
                "title": "Pressure",
                "width": "110",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "humidity",
                "title": "Humidity",
                "width": "110",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "moilSoilture",
                "title": "SoilMoilture",
                "width": "140",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "date",
                "title": "Date",
                "width": "180",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 810,
        "y": 200,
        "wires": []
    },
    {
        "id": "1ddd3bf5025e9e1d",
        "type": "inject",
        "z": "37cb5efec3cb066e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "28b8f767915b856d"
            ]
        ]
    },
    {
        "id": "28b8f767915b856d",
        "type": "function",
        "z": "37cb5efec3cb066e",
        "name": "Prepare SQL Query",
        "func": "//var pol = 'SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data';\n//return pol;\nmsg.topic = \"SELECT name,timeWatering,temperature, pressure, humidity, moilSoilture, date FROM plant_data\";\nmsg.payload = [msg.payload];\nreturn msg;\n//return { \"topic\": \"SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data\", \"payload\": null };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 220,
        "wires": [
            [
                "9735ab560d115009"
            ]
        ]
    },
    {
        "id": "cbe54d427c55ef5d",
        "type": "inject",
        "z": "37cb5efec3cb066e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "82f9dcee42a43ab5"
            ]
        ]
    },
    {
        "id": "82f9dcee42a43ab5",
        "type": "function",
        "z": "37cb5efec3cb066e",
        "name": "Prepare SQL Query",
        "func": "//var pol = 'SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data';\n//return pol;\nmsg.topic = \"ALTER TABLE plant_data ADD COLUMN timeWatering TEXT\";\nmsg.payload = [msg.payload];\nreturn msg;\n//return { \"topic\": \"SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data\", \"payload\": null };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 380,
        "wires": [
            [
                "9735ab560d115009"
            ]
        ]
    },
    {
        "id": "cef51c8157bacccf",
        "type": "function",
        "z": "37cb5efec3cb066e",
        "name": "Prepare SQL Query",
        "func": "//var pol = 'SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data';\n//return pol;\n\nmsg.topic = \"UPDATE plant_data SET timeWatering = '2023-09-12 16:45:48' WHERE timeWatering IS NULL\";\nmsg.payload = [msg.payload];\nreturn msg;\n//return { \"topic\": \"SELECT temperature, pressure, humidity, soil_moisture, date FROM plant_data\", \"payload\": null };\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 480,
        "wires": [
            [
                "9735ab560d115009"
            ]
        ]
    },
    {
        "id": "569e8e210353b37f",
        "type": "inject",
        "z": "37cb5efec3cb066e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 90,
        "y": 480,
        "wires": [
            [
                "cef51c8157bacccf"
            ]
        ]
    },
    {
        "id": "deaa729e3029ca60",
        "type": "comment",
        "z": "37cb5efec3cb066e",
        "name": "Ustawienie wartości domyślnych",
        "info": "",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "4a78f73d1f03df06",
        "type": "comment",
        "z": "37cb5efec3cb066e",
        "name": "Dodanie nowej kolumny",
        "info": "",
        "x": 100,
        "y": 280,
        "wires": []
    },
    {
        "id": "00f84fa766e5677e",
        "type": "ui_button",
        "z": "37cb5efec3cb066e",
        "name": "",
        "group": "a5c8118fcec9cad4",
        "order": 25,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "refresh",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "28b8f767915b856d"
            ]
        ]
    },
    {
        "id": "f59d7776341ca522",
        "type": "ui_dropdown",
        "z": "37cb5efec3cb066e",
        "name": "",
        "label": "Measurement",
        "tooltip": "",
        "place": "Select option",
        "group": "a5c8118fcec9cad4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "temperature",
                "value": "temperature",
                "type": "str"
            },
            {
                "label": "humidity",
                "value": "humidity",
                "type": "str"
            },
            {
                "label": "pressure",
                "value": "pressure",
                "type": "str"
            },
            {
                "label": "soilMoisture",
                "value": "moilSoisture",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "dropdown",
        "topicType": "str",
        "className": "",
        "x": 200,
        "y": 20,
        "wires": [
            [
                "9a1bfd265a91ae2c"
            ]
        ]
    },
    {
        "id": "e5e459465493a1ce",
        "type": "function",
        "z": "37cb5efec3cb066e",
        "name": "Filter query",
        "func": "// Odczytaj wartości zmiennych kontekstu przepływu\nvar dropdown = flow.get('dropdown');\nvar maxValue = flow.get('maxValue');\nvar operator = flow.get('operator');\n\n// Sprawdź, czy zmienne są zdefiniowane\nif (dropdown !== undefined && maxValue !== undefined) {\n    msg.topic = \"SELECT name,timeWatering,temperature, pressure, humidity, moilSoilture, date FROM plant_data WHERE \" + dropdown + operator + maxValue.toString();\n    msg.payload = [msg.payload];\n    return msg;\n\n    return msg;\n} else {\n    // Jedna zmienna lub obie są niezdefiniowane\n    node.error(\"One or both variables are not defined!\");\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 40,
        "wires": [
            [
                "9735ab560d115009"
            ]
        ]
    },
    {
        "id": "6a37d282694d7e89",
        "type": "ui_text_input",
        "z": "37cb5efec3cb066e",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "a5c8118fcec9cad4",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "text",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 310,
        "y": 140,
        "wires": [
            [
                "b44ab25916e6576f"
            ]
        ]
    },
    {
        "id": "b571bf885b376776",
        "type": "ui_button",
        "z": "37cb5efec3cb066e",
        "name": "",
        "group": "a5c8118fcec9cad4",
        "order": 10,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "Filter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa fa-filter",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 690,
        "y": 40,
        "wires": [
            [
                "e5e459465493a1ce"
            ]
        ]
    },
    {
        "id": "9a1bfd265a91ae2c",
        "type": "change",
        "z": "37cb5efec3cb066e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dropdown",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "b44ab25916e6576f",
        "type": "change",
        "z": "37cb5efec3cb066e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "maxValue",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9bc214331a53f2e5",
        "type": "ui_dropdown",
        "z": "37cb5efec3cb066e",
        "name": "",
        "label": "Operator",
        "tooltip": "",
        "place": "Select option",
        "group": "a5c8118fcec9cad4",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": ">",
                "value": ">",
                "type": "str"
            },
            {
                "label": "<",
                "value": "<",
                "type": "str"
            },
            {
                "label": "=",
                "value": "=",
                "type": "str"
            },
            {
                "label": ">=",
                "value": ">=",
                "type": "str"
            },
            {
                "label": "<=",
                "value": "<=",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "operator",
        "topicType": "str",
        "className": "",
        "x": 300,
        "y": 80,
        "wires": [
            [
                "5120671139d67a75"
            ]
        ]
    },
    {
        "id": "5120671139d67a75",
        "type": "change",
        "z": "37cb5efec3cb066e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "operator",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "72726915408a4bae",
        "type": "ui_text",
        "z": "37cb5efec3cb066e",
        "group": "a5c8118fcec9cad4",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 750,
        "y": 420,
        "wires": []
    },
    {
        "id": "0890aa47ccadf4b1",
        "type": "inject",
        "z": "37cb5efec3cb066e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Value",
        "payloadType": "str",
        "x": 550,
        "y": 420,
        "wires": [
            [
                "72726915408a4bae"
            ]
        ]
    },
    {
        "id": "2299804804e62922",
        "type": "ui_date_picker",
        "z": "37cb5efec3cb066e",
        "name": "",
        "label": "Pick date",
        "group": "a5c8118fcec9cad4",
        "order": 15,
        "width": 5,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "c56a8f53b1e8d033"
            ]
        ]
    },
    {
        "id": "c56a8f53b1e8d033",
        "type": "function",
        "z": "37cb5efec3cb066e",
        "name": "function 12",
        "func": "var test = msg.payload\nconst dateObject = new Date(test);\n\n// Uzyskanie poszczególnych komponentów daty\nconst year = dateObject.getFullYear();\nconst month = dateObject.getMonth() + 1; // Dodajemy 1, ponieważ miesiące są liczone od 0 do 11\nconst day = dateObject.getDate();\n\n// Sformatowanie daty w oczekiwanym formacie\nconst formattedDate = `${year}.${month < 10 ? '0' : ''}${month}.${day < 10 ? '0' : ''}${day}`;\nmsg.payload = formattedDate\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 600,
        "wires": [
            [
                "0255ea4e096c1631"
            ]
        ]
    },
    {
        "id": "0255ea4e096c1631",
        "type": "change",
        "z": "37cb5efec3cb066e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "date",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "a09c11e555d9bd41",
        "type": "ui_button",
        "z": "37cb5efec3cb066e",
        "name": "",
        "group": "a5c8118fcec9cad4",
        "order": 20,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "Filter date",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa fa-filter",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 640,
        "y": 520,
        "wires": [
            [
                "8f53a336a15a5686"
            ]
        ]
    },
    {
        "id": "8f53a336a15a5686",
        "type": "function",
        "z": "37cb5efec3cb066e",
        "name": "Filter query",
        "func": "// Odczytaj wartości zmiennych kontekstu przepływu\nvar date = flow.get('date')\ndate= date.split('.')\ndate = date[0] + '-' + date[1] + '-' + date[2]\nvar operator = flow.get('operator2');\n\n// Sprawdź, czy zmienne są zdefiniowane\nif (date !== undefined && operator !== undefined) {\n    var fullDate = date + ' 00:00:00'\n    node.warn(\"Date: \" + fullDate);\n    node.warn(\"Operator: \" + operator);\n    \n    msg.topic = \"SELECT * FROM plant_data WHERE STR_TO_DATE(date, '%Y-%m-%d %H:%i:%s') \" + operator + \" STR_TO_DATE('\" + fullDate + \"', '%Y-%m-%d %H:%i:%s')\";\n    \n    msg.payload = [msg.payload];\n    return msg;\n\n    \n} else {\n    // Jedna zmienna lub obie są niezdefiniowane\n    node.error(\"One or both variables are not defined!\");\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 540,
        "wires": [
            [
                "9735ab560d115009"
            ]
        ]
    },
    {
        "id": "5430638dc8d82c16",
        "type": "ui_dropdown",
        "z": "37cb5efec3cb066e",
        "name": "",
        "label": "Operator",
        "tooltip": "",
        "place": "Select option",
        "group": "a5c8118fcec9cad4",
        "order": 17,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": ">",
                "value": ">",
                "type": "str"
            },
            {
                "label": "<",
                "value": "<",
                "type": "str"
            },
            {
                "label": "=",
                "value": "=",
                "type": "str"
            },
            {
                "label": ">=",
                "value": ">=",
                "type": "str"
            },
            {
                "label": "<=",
                "value": "<=",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "operator",
        "topicType": "str",
        "className": "",
        "x": 540,
        "y": 660,
        "wires": [
            [
                "e5e7c055bdb04899"
            ]
        ]
    },
    {
        "id": "e5e7c055bdb04899",
        "type": "change",
        "z": "37cb5efec3cb066e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "operator2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "04508406080ce308",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "401a4b4f0ab8554d",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "8b62408985cd7534",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "becf807fab85c6e1",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "628b7c9988e70346",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 11,
        "width": 5,
        "height": 1
    },
    {
        "id": "f66398c366ec063d",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "92f97136a94d7aa3",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 13,
        "width": 5,
        "height": 1
    },
    {
        "id": "a3eb68f8747c6a37",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 14,
        "width": 8,
        "height": 1
    },
    {
        "id": "cef3e2d2183b39d8",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "e16e382209330b03",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "d53740b1d8fedcac",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "2496f75308342571",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 21,
        "width": 5,
        "height": 1
    },
    {
        "id": "09201c1a2559078b",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "b6cafc77e6d37960",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 23,
        "width": 5,
        "height": 1
    },
    {
        "id": "b7f61ba891717746",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 24,
        "width": 6,
        "height": 1
    },
    {
        "id": "9e6e706037b612dc",
        "type": "ui_spacer",
        "z": "37cb5efec3cb066e",
        "name": "spacer",
        "group": "b2d6a9c5afcba662",
        "order": 26,
        "width": 6,
        "height": 1
    },
    {
        "id": "a94c2155e352c42e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "csp",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "2632a0ecd6051959",
        "type": "ui_group",
        "name": "Table",
        "tab": "ce3001829f2283f1",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5c8118fcec9cad4",
        "type": "ui_group",
        "name": "Filter",
        "tab": "ce3001829f2283f1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2d6a9c5afcba662",
        "type": "ui_group",
        "name": "DataTable",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "26",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ce3001829f2283f1",
        "type": "ui_tab",
        "name": "Table",
        "icon": "fa-table",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]